{extends file='layout/new.html'}

{block name=body}
<script src="/js/jquery-1.8.1.min.js"></script>
<link href="../js/layui/css/layui.css" rel="stylesheet">
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script>
$(function(){
$('.delect').click(function(){
	return confirm("確定刪除？");
})
$('#search').click(function(){
	var uid = $('#uid').val();
	location.href="index.php?m=priv&a=addrole&op=add&menuid={$menuid}&uid=" + uid;
})
$('#gameStr').hide();
$('#chargingModel').hide();
$('#ads').hide();
$('#playData').hide();
$('#gameSelect').hide();
$('#profitData').hide();
{if (($rolerow.gid == 8))}
$('#games').show();
$('#channels').show();
$('#tips').show();
{else if ($rolerow.gid == 13)}
$('#games').hide();
$('#channels').show();
$('#tips').hide();
$('#gameSelect').show();
$('#chargingModel').show();
{else if ($rolerow.gid == 18)}
$('#games').hide();
$('#channels').hide();
$('#tips').hide();
$('#ads').show();
{else if ($rolerow.gid == 2 || $rolerow.gid == 11 || $rolerow.gid == 14  || $rolerow.gid == 19 || $rolerow.gid == 15)}
$('#games').hide();
$('#channels').hide();
$('#tips').hide();
$('#gameSelect').show();
{else if ($rolerow.gid == 17)}
$('#games').hide();
$('#channels').hide();
$('#tips').hide();
$('#playData').show();
$('#profitData').show();
$('#gameSelect').show();
{else if ($rolerow.gid == 22 )}
$('#games').hide();
$('#channels').hide();
$('#tips').hide();
$('#gameSelect').show();
{else}
$('#games').hide();
$('#channels').hide();
$('#tips').hide();
$('#ads').hide();
{/if}
{if ($allGame == 'part') && ($rolerow.gid == 2 || $rolerow.gid == 11 || $rolerow.gid == 14  || $rolerow.gid == 19 || $rolerow.gid == 15 || $rolerow.gid == 17 || $rolerow.gid == 13 || $rolerow.gid == 22 )}
$('#gameStr').show();
{/if}
$("select#gid").change(function(){
	var group = $(this).val();
	$('#chargingModel').hide();
	$('#ads').hide();
	$('#playData').hide();
	$('#profitData').hide();
	$('#gameSelect').hide();
	$('#gameStr').hide();
	if((group == 8)){
		$('#games').show();
		$('#channels').show();
		$('#tips').show();
	}else if(group == 2 || group == 11 || group == 14  || group == 19){
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
		$('#gameSelect').show();
	}else if(group == 17 ){
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
		$('#playData').show();
		$('#profitData').show();
		$('#gameSelect').show();
	}else if(group == 15){
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
		$('#gameSelect').show();
	}else if(group == 22){
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
		$('#gameSelect').show();
	}else if( group == 13){
		$('#chargingModel').show();
		$('#games').hide();
		$('#channels').show();
		$('#tips').hide();
		$('#gameSelect').show();
	}else if( group == 18){
		$('#ads').show();
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
	}else{
		$('#games').hide();
		$('#channels').hide();
		$('#tips').hide();
	}
	var allGame = {$allGame}.value
	if((group == 2 || group == 11 || group == 14  || group == 19 || group == 15 || group == 17 || group == 13 || group == 22) && allGame == 'part'){
		$('#gameStr').show();
	}
})
});
</script> 
<h3><span><a href="index.php?m=priv&a=listrole">返回角色列表</a></span>{if $smarty.get.op eq 'add'}添加角色{else}修改角色{/if}</h3>
<br>
	<form action="/index.php?m=priv&a=addrole" method="post" class="layui-form" >
		<div class="layui-form-item">
			<label class="layui-form-label">用户ID：</label>
			<div class="layui-input-inline" >
				<input type="text" name="form[uid]" id="uid" value="{$ruid}"  class="layui-input text">
			</div>
			{if $smarty.get.op eq 'add'}
				<button type="button" id="search" class="layui-btn layui-btn-primary " lay-on="get-vercode">查找用户</button>
			{/if}
			{if $isfound eq 2}
				<font style="margin-left:5px;" color="red">搜索{$ruid}:没有找到此用户,请为此用户添加权限</font>
			{/if}
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label" >用户组：</label>
			<div class="layui-input-block"  style="width: 190px;">
			  <select id="gid" name="form[gid]"  lay-filter="gid">
				<option value="0">请选择用户组</option>
				{foreach from=$grouplist key=k2 item=v2}
				<option {if ($v2.id eq $rolegid)}selected="selected"{/if} value="{$v2.id}">{$v2.name}</option>
				{/foreach}
			  </select>
			</div>
		</div>
		<div class="layui-form-item" id="games">
			<label class="layui-form-label" >负责游戏：</label>
			<!-- <div class="layui-input-block"  style="width: 190px;">
			  <select id="game" name="form[game]"  lay-filter="game">
				<option value="0">请选择关联游戏</option>
				{foreach from=$gamelist key=key1 item=data}
					<option {if $data.alias eq $rolerowGame} selected="selected"{/if}  value="{$data.alias}">{$data.name}</option>
				{/foreach}
			  </select>
			</div> -->
			<div id="game" class="demo-transfer" name="form[game]"></div>
		</div>
		<div id="ads">
			<div class="layui-form-item" >
				<label class="layui-form-label" >推广渠道：</label>
				<div class="layui-input-block "  style="width: 190px;">
				  <select name="form[adsChannel]" id="adsChannel" lay-filter="adsChannel">
					<option value="0">请选择</option>
					<option value="000368" {if $rolerow.adsChannel eq '000368'} selected="selected" {/if}>VIVO</option>
					<option value="000020" {if $rolerow.adsChannel eq '000020'} selected="selected" {/if}>OPPO</option>
					<option value="500001" {if $rolerow.adsChannel eq '500001'} selected="selected" {/if}>华为</option>
				  </select>
				</div>
			</div>
			<div class="layui-form-item" >
				<label class="layui-form-label" >推广账号：</label>
				<div class="layui-input-block "  style="width: 190px;">
				  <select name="form[adsAccount]" id="adsAccount" lay-filter="adsAccount">
					<option value="0">请选择</option>
					{foreach from=$accountList item=name key=key1}
                    <option value="{$name.account}" {if $rolerow.adsAccount eq $name.account}selected="selected"{/if}>{$name.account}</option>
                	{/foreach}
				  </select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">真实姓名：</label>
			<div class="layui-input-inline">
				<input id="realname" type="text" name="form[realname]" class="layui-input text" value="{$rolerow.realname}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">EMAIL：</label>
			<div class="layui-input-inline">
				<input id="mail" type="text" name="form[mail]" class="layui-input text" value="{$rolerow.mail}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">电话：</label>
			<div class="layui-input-inline">
				<input id="mobile" type="text" name="form[mobile]" class="layui-input text"  value="{$rolerow.mobile}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码：</label>
			<div class="layui-input-inline" >
				<input type="password" value="" name="form[password]" id="password"  class="layui-input text" onchange="checkPassword()">
			</div>
			<font style="margin-left:5px;" color="red">【注意】1.若密码为空，则不修改密码；2.至少包含8个字符；3.必须包含数字或字母，以及任意一个或多个特殊符号!*$%#@&.</font>
		</div>
		<div id="chargingModel">
			<div class="layui-form-item">
				<label class="layui-form-label">充值扣量：</label>
				<div class="layui-input-inline">
					<input id="payCharging" type="text" name="form[payCharging]" class="layui-input text" value="{$rolerow.payCharging}" placeholder="最大支持小数点后两位">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">统计显示时间：</label>
				<div class="layui-input-inline">
					<input type="text" name="form[limitTime]" value="{if $rolerow.limitTime}{$rolerow.limitTime|date_format:'%Y-%m-%d'}{/if}" onclick="WdatePicker({ maxDate: '9999-12-30', readOnly: true });" class="layui-input text" >
				</div>
				<font color="#FF0000">&nbsp;*</font>
			</div>
		</div>
		
		<div class="layui-form-item" pane="" id="channels">
			<label class="layui-form-label">关联渠道：</label>
			<input type="checkbox"  id="selectBtn" lay-filter="menu" lay-skin="primary"  title="全选/全不选"  >
			<div class="layui-input-block">
				{foreach from=$channels item=name key=key1}
				<input type="checkbox" class="checkone" name="channels[]" lay-skin="primary" title="{$name}" value="{$key1}" {if in_array($key1, $openChannel)} checked="checked"{/if}/>
				{/foreach}
			</div>
		</div>
		<div class="layui-form-item" id="gameSelect">
			<label class="layui-form-label" >关联所负责游戏：</label>
			<div class="layui-input-block"  style="width: 190px;">
				<select  name="form[allGame]" id="gameid" lay-filter="gameid">
					<option value="0">请选择</option>
					<option value="all" {if $allGame eq 'all'}selected="selected"{/if}>全部游戏</option>
					<option value="part" id="part" {if $allGame eq 'part'}selected="selected"{/if}>部分游戏</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item" id="gameStr">
			<label class="layui-form-label"></label>
			<div id="Shuttle_box" class="demo-transfer" name="form[gameStr]"></div>
		</div>
		<div class="layui-form-item" pane="" id="playData">
			<label class="layui-form-label">玩家综合数据统计维度：</label>
			<input type="checkbox"  id="selectBtn" lay-filter="menu_o" lay-skin="primary"  title="全选/全不选"  >
			<div class="layui-input-block">
				{foreach from=$player_data item=name}
					<input type="checkbox" class="checkone_ju" name="headerData[]" lay-skin="primary" title="{$name.header_name}" value="{$name.header_id}" {if in_array($name.header_id, $header_id)} checked="checked"{/if}/>
				{/foreach}
			</div>
		</div>
		<div class="layui-form-item" pane="" id="profitData">
			<label class="layui-form-label">利润详情统计维度：</label>
			<input type="checkbox"  id="selectBtn" lay-filter="menu_p" lay-skin="primary"  title="全选/全不选"  >
			<div class="layui-input-block">
				{foreach from=$priv_data item=name}
					<input type="checkbox" class="checkone_pr" name="headerData[]" lay-skin="primary" title="{$name.header_name}" value="{$name.header_id}" {if in_array($name.header_id, $header_id)} checked="checked"{/if}/>
				{/foreach}
			</div>
		</div>
		<input name="do" type="hidden"/>
		<input type="hidden" name="form[gameStr]" value="{$gameStr}" id="form[gameStr]"/>
		<input type="hidden" name="form[game]" value="{$game}" id="form[game]"/>

		<div class="layui-form-item">
			<div class="layui-input-block">
			  <button type="button" class="layui-btn" id="getSub">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary ">条件重置</button>
			</div>
		</div>
	</form>
<style>
	.layui-transfer-data {
	    padding: 5px 0;
	    overflow: auto;
		height: 360px !important;
	}
</style>
<script type="text/javascript" src="/js/jQueryLabel/js/tab.js"></script>
<!-- 关联游戏穿梭框 -->
<script src="../js/layui/layui.js"></script>

<script>
	var op = "{$smarty.get.op}";
	// 使用input输入域变化事件，通过JS正则表达式判断密码强度
	function checkPassword(){
		var passwordString = $('#password').val();
		/*if (passwordString == '' || passwordString.length < 8) {
			alert('密码长度不符，请输入8位字符！');
			return false;
		}*/
		if (op == 'edit') {
			if (passwordString != '' && passwordString.length < 8) {
				alert('密码长度不符，请输入8位字符！');
				return false;
			}
		}else{
			if (passwordString == '' || passwordString.length < 8) {
				alert('密码长度不符，请输入8位字符！');
				return false;
			}
		}
		// 必须包含数字或字母，以及任意一个或多个特殊符号!*$%#@&
		var reg = new RegExp(/^[A-Za-z0-9]+[!*$%#@&.]+$/);
		if (!reg.test(passwordString) && passwordString != '') {
			alert('必须包含数字或字母，以及任意一个或多个特殊符号!*$%#@&.');
			return false;
		}
	}

    layui.use(['transfer', 'layer', 'util','form','jquery'], function(){
        var $ = layui.$
        ,transfer = layui.transfer
        ,layer = layui.layer
        ,util = layui.util
		,form = layui.form; 
		
		form.on('select(gid)', function (data){
			$(data.elem).trigger('change',data.elem);
		});

		form.on('select(gameid)', function (data){
			var gameid = data.value
			if (gameid == 'part') {
				$('#gameStr').show();
			}else{
				$('#gameStr').hide();
			}
		});

		// 推广渠道 下拉点击
		form.on('select(adsChannel)', function(data){
			var adsChannel = data.value;
			var adsAccount = $('#adsAccount').val();
			if(adsChannel == ''){
				$("#adsAccount option[text!='']").remove();
				$("#adsAccount").append('<option value="">请选择</option>').change();
				return false;
			}
			$.ajax({
				type: "POST",
				url: "/?m=ads&a=getChannelAccount",
				data: "channel="+adsChannel+"&account="+adsAccount,
				dataType: 'text',
				success: function(result){
					$("#adsAccount option[text!='0']").remove();
					$("#adsAccount").append(result);
					form.render('select');
				}
			});
		}); 
		

		//全选被选中  其他都被勾选
		form.on('checkbox(menu)', function(data){
			var id = data.value;
			//这里实现勾选 
			$('.checkone').each(function(index, item){
				item.checked = data.elem.checked;
			});
			form.render('checkbox');
		});  
		form.on('checkbox(menu_o)', function(data){
			var id = data.value;
			//这里实现勾选 
			$('.checkone_ju').each(function(index, item){
				item.checked = data.elem.checked;
			});
			form.render('checkbox');
		}); 
		form.on('checkbox(menu_p)', function(data){
			var id = data.value;
			//这里实现勾选 
			$('.checkone_pr').each(function(index, item){
				item.checked = data.elem.checked;
			});
			form.render('checkbox');
		});

		form.render();

		//选择后调用的函数
		var changeFun = function (elem)
		{
			var selectd = elem.value;//得到选择后的值
		}
        //全部游戏
        var data = [
            {foreach from=$gameLists item=item}
                {
                    value:"{$item.alias}",
                    title:"{$item.name}"
                },
            {/foreach}
        ]

        //已关联的游戏
        
        var value = [
			{foreach from=$gameStr item=item}
				"{$item}",
			{/foreach}
        ]

        // 穿梭框基本配置
        transfer.render({
            elem: '#Shuttle_box'
            ,data: data
            ,title: ['未选择的游戏/回车搜索', '已选择的游戏/回车搜索']
            ,showSearch: true
            ,width:450
            ,height:450 //修改高度也要修改style的.layui-transfer-data 高度
            ,id:"Shuttle_box"
            ,value: value
        })

        transfer.render({
            elem: '#game'
            ,data: [
	            {foreach from=$gameLists item=data}
	                {
	                    value:"{$data.alias}",
	                    title:"{$data.name}"
	                },
	            {/foreach}
	        ]
            ,title: ['未选择的游戏/回车搜索', '已选择的游戏/回车搜索']
            ,showSearch: true
            ,width:450
            ,height:450 //修改高度也要修改style的.layui-transfer-data 高度
            ,id:"game"
            ,value: value
        })

		$(document).on('click','#getSub',function(){
			
			var checkData = $('.layui-transfer-box[data-index="0"] input[placeholder="关键词搜索"]').val()
			var checkData1 = $('.layui-transfer-box[data-index="1"] input[placeholder="关键词搜索"]').val()
			var checkBox = $('.layui-transfer-box[data-index="0"] div[lay-skin="primary"]').attr('class')
			var checkBox1 = $('.layui-transfer-box[data-index="1"] div[lay-skin="primary"]').attr('class')

			if (checkData != '') {
				alert("关联所负责游戏左侧搜索框存在非必要内容，请清除")
				$('.layui-transfer-box[data-index="0"] input[placeholder="关键词搜索"]').css('border-color','red')
			}else if(checkData1 != ''){
				alert("关联所负责游戏右侧搜索框存在非必要内容，请清除")
				$('.layui-transfer-box[data-index="1"] input[placeholder="关键词搜索"]').css('border-color','red')
			}else if (checkBox.search("layui-form-checked") != '-1' ) {
				alert("关联所负责游戏左侧勾选框存在非必要勾选，请取消")
				$('.layui-transfer-box[data-index="0"] i.layui-icon-ok ').css('background','red')
			}else if(checkBox1.search("layui-form-checked") != '-1' ){
				alert("关联所负责游戏右侧勾选框存在非必要勾选，请取消")
				$('.layui-transfer-box[data-index="1"] i.layui-icon-ok ').css('background','red')
			}else{
				var Shuttle_box = transfer.getData('Shuttle_box'); //获取右侧穿梭数据
				var game = transfer.getData('game'); //获取右侧穿梭数据

				
                // 关联游戏数据
                var shuttleGame = ''
                for (let i = 0; i < Shuttle_box.length; i++) {

                    if (i===Shuttle_box.length-1){
                        shuttleGame += Shuttle_box[i].value;
                    }else{
                        shuttleGame += Shuttle_box[i].value +'|'
                    }

                }
                
                //负责游戏
                var assGame = ''
                for (let i = 0; i < game.length; i++) {

                    if (i===game.length-1){
                        assGame += game[i].value;
                    }else{
                        assGame += game[i].value +'|'
                    }

                }
                $('input[name="form[game]"]').val(assGame);
				$('input[name="form[gameStr]"]').val(shuttleGame);
                
                // 关联账号数据
                var assGameArray = [];  
                var assUserName

                if ( $('#myTags a').length > 1 ) {
                $("#myTags a span").each(function(){
                    assGameArray.push( $(this).html() );
                });
                    assUserName = getStr(assGameArray)
                }else{
                    assUserName = $("#myTags a span").html()
                }
                $('#assUserName').val(assUserName)

				var passwordString = $('#password').val();
				if (op == 'edit') {
					if (passwordString != '' && passwordString.length < 8) {
						alert('密码长度不符，请输入8位字符！');
						return false;
					}
				}else{
					if (passwordString == '' || passwordString.length < 8) {
						alert('密码长度不符，请输入8位字符！');
						return false;
					}
				}
				
				
                // 提交表单
                var r = confirm('你確定要修改该玩家的信息？');
                if (r == true) {
                    $('.layui-form').submit();
                }
			}
        });
    })
</script>
{/block} 