{extends file='layout/new.html'}

{block name=body}
<script>
$(function(){
	$('#search').click(function(){
		var uid = $('#uid').val();
		location.href="index.php?m=priv&a=addrole&menuid={$menuid}&uid="+uid;
	});
	$('#parentid').change(function(){
		location.href = 'index.php?m=priv&a=editmenu&id={$id}&parentid='+$('#parentid').val();
	});
});
$(document).ready(function(){
	$("#buttun").click(function(){
		if($("#user").val() == ''){
			alert("帳號不能为空！");
			return false;
		}else if($("#password").val() == ''){
			alert("密码不能为空！");
			return false;
		}
	})
});
</script> 

    <h3><span><a href="index.php?m=priv&a=listuser">后台用户列表</a></span>添加用户</h3>
	<form action="index.php?m=priv&a=adduser&do" method="post" class="searchbox">
			<p><span>帳號:</span><input id="user" type="text" class="text" name="form[uid]"  value=""/></p>
			<p><span>密码:</span><input id="password" type="password" class="text"  name="form[password]" value=""/></p>
			<p class="inline"><button id="buttun" type="submit" name="do" style="margin-top:2px;" class="su" value="立即提交">立即提交</button><button type="reset" class="su">条件重置</button></p>						
	 </form>
{/block} 