{extends file='layout/new.html'}

{block name=body}
<script src="js/jquery-1.7.2.min.js"></script>
{literal}
<script>

$(document).ready(function(){
	$("#submit").click(function(){
		if($("#newpwd").val() == ''){
			alert("新密码不能为空！");
			return false;
		}
		if($("#newpwd2").val() == ''){
			alert("确认新密码不能为空！");
			return false;
		}
		if($("#newpwd2").val() != $("#newpwd").val()){
			alert("新密码和确认新密码不一致！");
			return false;
		}
		/*else{
			var newpwd = $("#newpwd").val();
			$.ajax({
			   type:"POST",
			   url:"index.php?m=priv&a=edtipwd",
			   datatype:"html",
			   data:{password:newpwd},
			   cache:false,
			   success:function(data){
				   $("#newpwd").html(data);
					 return "修改成功！";            
				}
			})
		}
		*/
	})
})
</script>
{/literal}
<h3><span><a href="index.php?m=kefu_admin_question&a=index">返回首頁</a></span>修改密码</h3>
<br />
<form method="post" class="searchbox" id="loginform" action="index.php?m=priv&a=editpwd">
	<p><span>用户名：</span><input type="text" id="title" name="name" value="{$username}" disabled="disabled" /></p>
   	<p><span>新密码：</span><input type="password" id="newpwd" name="newpwd" /><font color="red">*</font></p>
   	<p><span>确认新密码：</span><input type="password" id="newpwd2" name="newpwd2" /><font color="red">*</font></p>
	<p class="inline"><input name="do" id="submit" class="su" style="margin-top:2px;" type="submit" value="立即提交"/><input type="reset" class="su" value="条件重置"/></p>
</form>
{/block}