{extends file='layout/new.html'}

{block name=body}
<h3><span><a href="index.php?m=priv&a=listmodule">返回模块列表</a></span>修改模块</h3>
<form action="index.php?m=priv&a=editmodule" method="post" class="searchbox">
	<input type="hidden" name="id" value="{$roleaction.id}" />
	<p><span>选择模块：</span><select name="form[module]">
    {foreach from=$modulelist key=k item=v}
    <option value="{$v.module}" {if $v.current}selected="selected"{/if}>{$v.name}/{$v.module}</option>
    {/foreach}
    </select>&nbsp;<a href="#" class="showbox">添加</a></p>
    <p><span>动作名称：</span><input type="text" class="text" value="{$roleaction.name}" name="form[name]"/></p>
    <p><span>动作标识：</span><input type="text" class="text" value="{$roleaction.action}" name="form[action]"/></p>
    <p><span>参数：</span><input type="text" class="text" value="{$roleaction.param}" name="form[param]"/></p>
    <p><span>外链：</span><input type="text" class="text" value="{$roleaction.outlink}" name="form[outlink]"/></p>
    <p><span>排序：</span><input type="text" class="text" value="{$roleaction.sort}" name="form[sort]"/></p>
    <p class="inline">是否显示：<input type="checkbox" value="1" name="form[display]" {if $roleaction.display eq '1'} checked{/if}/> 是否後台<input type="checkbox" value="1" name="form[isadmin]" 
{if $roleaction.isadmin eq '1'} checked{/if} /></p>
    <p><span style="float:left;vertical-align:middle;margin-top:30px;">说明：</span><textarea name="form[des]" class="text" >{$roleaction.des}</textarea></p>
    <p class="inline" style="margin-top:4px;"><button type="submit" name="do" class="su">立即提交</button><button type="reset" class="su">条件重置</button></p>
</form>

<div id="popbg"></div>
<div class="pop searchbox">
	<h3><span><a href="#" class="popclose">关闭</a></span>新增模块</h3>
    <p><span>模块名称：</span><input type="text" id="name"/></p>
    <p><span>模块标识：</span><input type="text" id="module"/></p>
    <p><span>排序：</span><input type="text" id="sort"/></p>
    <p class="inline"><button type="submit" class="su popsubmit" style="margin-top:2px;">立即提交</button></p>
</div>
<script src="/js/pop.js"></script>
<script>
$(function(){
	$('.popsubmit').click(function(){
		var name=$('#name').val();
		var module=$('#module').val();
		var ssort=$('#sort').val();
		$.post('index.php?m=ajax&a=addmodule','name='+name+'&module='+module+'&sort='+ssort,function(data){
			var o=eval('('+data+')');
			if(o.status){
				alert('操作成功！');
				location.reload();
			} else {
				alert(o.msg);
			}
		});
	});
});
</script>
{/block}