{extends file='layout/new.html'}

{block name=body}
<h3><!--<span><a href="#" class="showbox">添加角色组</a></span>-->角色组列表</h3>
<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead><th>ID</th><th>角色组名</th><th>是否显示</th><th>操作</th></thead>
    {foreach from=$grouplist key=k item=v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.name}</td>
        <td class="listgroup">{if $v.display eq 1}显示{else}<span class="red">隐藏</span>{/if}</td>
        <td><a href="index.php?m=priv&a=delgroup&id={$v.id}" class="delete">刪除</a>&nbsp;<a href="index.php?m=priv&a=addgroup&name={$v.name|urlencode}&menuid={$menuid}">修改</a></td>
    </tr>
     {/foreach}
</table>
<script src="/js/pager.js"></script>
<script src="/js/pop.js"></script>
<script>
function gotoNext(page,pagesize){
	window.location.href="index.php?m=priv&a=listgroup&page="+page;
}
$(function(){
	$('.delete').click(function() {
		return confirm('是否确定刪除？');
	});
	var pageStr = new Page('{$page}', '{$rowcount}',5,'{$offset}','gotoNext').GetText();
	$('#pager').html(pageStr);
	
	$('.popsubmit').click(function(){
		var name=$('#name').val();
		if(name==''){
			alert('角色组名称不能为空!');
			return false;
		}
		var display=$('#display').val();
		if($('#display').val() == ""){
			display == 0;
			}
		$.post('index.php?m=ajax&a=addgroup','name='+encodeURIComponent(name)+'&display='+display,function(data){
			var o=eval('('+data+')');
			if(o.status){
				alert('操作成功！');
				location.href="index.php?m=priv&a=listgroup";
			} else {
				alert(o.msg);
			}
		});
	});
});
</script>
<div id="popbg"></div>
<div class="pop searchbox">
    <h3><span><a href="#" class="popclose">关闭</a></span>添加角色组</h3>
    <p><span>角色组名称:</span><input type="text" id="name" /></p>
    <p><span>是否可見:</span><input type="checkbox" id="display" value="1"/>
    <!--
    <select id="display">
               <option value="1">是</option>
               <option value="0">否</option>
            </select>
            -->
     </p>
     <p class="inline"><button type="submit" class="su popsubmit">立即提交</button></p>
</div>

<div id="pager" style="text-align:center;"></div>
{/block}