{extends file='layout/new.html'} {block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<h3><span><a href="index.php?m=priv&a=addmodule">添加模块</a></span>模块列表</h3>
<form class="searchbox" action="/index.php?m=priv&a=listmodule" method="post">
        <p>
            <span>模块名称：</span>
            <select name="module">
                <option value="">请选择</option>
                {foreach from=$modulelist key=k item=v}
					<option value="{$v.module}" {if $v.module == $module} selected="selected" {/if}>{$v.name}/{$v.module}</option>
				{/foreach}
            </select>
            <span>模块标识：</span>
            <input type="text" placeholder="请输入模块标识" name="moduleMake" value="{$moduleMake}"/>
            <span>模块动作：</span>
            <input type="text" placeholder="请输入模块动作" name="action" value="{$action}"/>
            <span>创建者：</span>
            <input type="text" placeholder="请输入创建者" name="author" value="{$author}"/>
            <span>创建时间：</span>
        <input type="text" name="start_date" id="start_date" class="date" value="{$start_date}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})" style="width: 128px;"> 至 <input type="text" name="end_date" id="end_date" class="date" value="{$end_date}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )" style="width: 128px;">
        </p>
        <table style="clear:both;margin-top:10px; float:right;width:100%;">
            <tr>
                <td align="left"><button type="submit" class="su inline" style=" margin-left: 30px;">查询</button>
            </tr>
        </table>
    </form>
<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead>
		<th>模块名称</th>
		<th>模块标识</th>
		<th>模块动作</th>
		<th>动作名称</th>
		<th>排序</th>
		<th>创建时间</th>
		<th>创建者</th>
		<th>操作</th>
	</thead>
	<tbody>
		{foreach from=$list key=k item=v}
		<tr>
			<td><a href="#">{$v.mname}</a></td>
			<td>{$v.module}</td>
			<td>{$v.action}</td>
			<td>{$v.aname}</td>
			<td>{$v.sort}</td>
			<td>{$v.ctime}</td>
			<td>{$v.author}</td>
			<td><a href="index.php?m=priv&a=delaction&id={$v.id}"
				class="delete">刪除</a>&nbsp;<a
				href="index.php?m=priv&a=editmodule&id={$v.id}&menuid={$menuid}">修改</a></td>
		</tr>
		{/foreach}
	</tbody>
</table>
<div class="pager"></div>

<script src="/js/pager.js"></script>
<script>
	function gotoNext(page, pagesize) {
		window.location.href = 'index.php?m=priv&a=listmodule&page=' + page;
	}
	$(function() {
		$('.delete').click(function() {
			return confirm('是否确定删除？');
		});
		var pageStr = new Page('{$page}', '{$rowcount}', 5, '{$offset}',
				'gotoNext').GetText();
		$('.pager').html(pageStr);
	});
</script>
{/block}
