{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
{if $checkRoot eq 1}
<h3>
    账号关联批量处理
</h3>
<form class="searchbox" action="/index.php?m=batch&a=batchRelation" method="post">
    <input type="hidden" name="batchesData" value="" id="batchesData" />
    <input type="hidden" name="operation" value="" id="operation" />
    <p>
        <span>玩家账号：</span>
        <textarea style="width:800px; height:60px;"  name="useNameStr"></textarea>
    </p>
    <p class="line">
        <button type="submit" class="su inline" style=" margin-left: 30px;">查询</button>
        <button type="submit" class="su" onclick="fun()">关联</button>
    </p>
</form>

<table class="list">
        <tr style="background-color:#CCCCCC;">
            <th>账号</th>
            <th>渠道</th>
            <th>包号</th>
            <th>关联账号</th>
            <th>编号</th>
            <th><input type="checkbox" onclick="swapCheck()" /></th>
        </tr>
        {foreach from=$memberList item=order key=key}
        <tr {if ($key % 2) != 0}style="background-color: blanchedalmond;"{/if}>
            <td>{$order.userName}</td>
            <td>{$order.channelName}</td>
            <td>{$order.apkNum}</td>
            <td>{$order.assUserName}</td>
            {if ($key % 2) == 0}
                <td>{($key/2)+1}</td>
            {else}
                <td>{($key/2)+0.5}</td>
            {/if}
            <td><input type="checkbox" name="userName" value="{$order.data}" /></td>
        </tr>
        {foreachelse}
        <tr>
            <td colspan="6">无数据</td>
        </tr>
        {/foreach}
</table>
   
    <script type="text/javascript"> 
        // 复选框
        var isCheckAll = false; 
        function swapCheck() { 
            if (isCheckAll) { 
                $("input[type='checkbox']").each(function() { 
                    this.checked = false; 
                }); 
                isCheckAll = false; 
            } else { 
                $("input[type='checkbox']").each(function() { 
                    this.checked = true; 
                }); 
                isCheckAll = true; 
            } 
        } 
        //关联
        function fun(){
            obj = document.getElementsByName("userName");
            check_val = [];
            for(k in obj){
                if(obj[k].checked)
                    check_val.push(obj[k].value);
            }
            //alert(check_val);
            $("#operation").val("edit");
            $("#batchesData").val(check_val);
        }
    </script> 
    <!--<script type="text/javascript">
    $("#edit").click(function() {
        $("#operation").val("edit");
        $('.searchbox').submit();
    });
    </script>-->

{else}
<div style="font-size: 20px; color:red; margin:5% 0 0 30%;">无权限查看相关数据</div>
{/if}
{/block}