{extends file='layout/new.html'}
{block name=body}
<!--START 列表頁-->
{if $operation == 'index'}
	<h3>
		<span><a href="/index.php?m=ads&a=adsAccount&operation=add">新增账号</a></span>
		广告账号管理
	</h3>
        <form class="searchbox" action="index.php?m=ads&a=adsAccount" method="post">
	    <input type="hidden" name="operation" value="" id="operation" />
        <p>
            <span>渠道：</span>
			<select name="channel">
                <option value="0">请选择</option>
                <option value="000368" {if $channel eq '000368'} selected="selected" {/if}>VIVO</option>
                <option value="000020" {if $channel eq '000020'} selected="selected" {/if}>OPPO</option>
                <option value="500001" {if $channel eq '500001'} selected="selected" {/if}>华为</option>
                <option value="160136" {if $channel eq '160136'} selected="selected" {/if}>应用宝</option>
			</select>
            <span>广告账号：</span>
            <input type="text" placeholder="请输入广告账号" name="account" value="{$account}"/>
			<input type="submit" class="su" value="查询" style="margin-left: 30px;" />
        </form>
		<table class="list">
			<tr style="background-color:#CCCCCC;">
				<th>渠道</th>
				<th>广告账号</th>
				<th style="width: 70%;">广告参数</th>
				<th style="width: 80px">操作</th>
			</tr>
			{foreach from=$list  key=key1 item=order}
			<tr align="center">
				<td>{$order.channelName}</td>
				<td>{$order.account}</td>
				<td style="word-break: break-all;">{$order.data}</td>
				<td>
				{if $order.channelId == '500001'}
				<a href="/index.php?m=ads&a=adsAccount&operation=edit&id={$order.id}" target="_blank">编辑</a>| 
				{/if}
				<a href="/index.php?m=ads&a=adsAccount&operation=del&id={$order.id}" class="delete_confirm">刪除</a> 
				</td>
			</tr>
	        {foreachelse}
	        	<td colspan="8" ><font color="red">暂无数据</font></td>
			{/foreach}
		</table>
		<div id="pager"></div>

<script src="js/pager.js"></script>
<script>
function gotoNext(page,pagesize){
	window.location.href = "/index.php?m=ads&a=adsAccount&page=" + page + "&channel={$channel}&account={$account}";
}
var pageStr = new Page('{$page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
{elseif $operation == 'add' || $operation == 'edit'}
<script>
$(function(){
	$("select#channel").change(function(){
		var channel = $(this).val();
		var tips = document.getElementById("tips");
		var accountTips = document.getElementById("accountTips");
		if((channel == '000020')){
			tips.innerText = "OPPO填写格式：owner_id|api_id|api_key";
			accountTips.innerText = '';
		}else if(channel == '000368'){
			tips.innerText = "VIVO填写格式：应用ID|应用密钥|账号ID，示例：20210830010|40721FE825CC23A0190F7412A286E3FF4B58DDC184B83BA40B0E518DD4C0E6F5|yanyou044";
			accountTips.innerText = "提示：VIVO渠道广告账号要对应VIVO投放账号ID, 示例：yanyou044";
		}else if(channel == '500001'){
			tips.innerText = "华为填写格式：华为渠道号|华为渠道号|...";
			accountTips.innerText = '';
		}else if(channel == '160136'){
			tips.innerText = "应用宝填写格式：开发者应用ID|开发者应用密钥|广告账号ID，示例：1112012452|wPgj6BodiZnRrXZ7|24380698";
			accountTips.innerText = "提示：应用宝渠道广告账号要对应应用宝投放账号ID, 示例：24380698";
		}else{
			tips.innerText = "";
			accountTips.innerText = '';
		}
	})
});
</script> 
<h3>
	<span><a href="/index.php?m=ads&a=adsAccount">返回列表</a></span>
	{if $operation == 'add'}
		新增账号
	{else}
		编辑账号
	{/if}
	</h3>
	<form action="/index.php?m=ads&a=adsAccount&operation=save" method="post" class="searchbox" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$accountData.id}" />
		<p>
			<span>渠道：</span>
			<select name="channel" id="channel">
                <option value="0">请选择</option>
                <option value="000368"{if $accountData.channelId eq '000368'} selected="selected" {/if}>VIVO</option>
                <option value="000020"{if $accountData.channelId eq '000020'} selected="selected" {/if}>OPPO</option>
                <option value="500001"{if $accountData.channelId eq '500001'} selected="selected" {/if}>华为</option>
                <option value="160136"{if $accountData.channelId eq '160136'} selected="selected" {/if}>应用宝</option>
			</select>
		</p>
		<p>
			<span>广告账号：</span>
            <input type="text" placeholder="请输入广告账号" name="account" {if $accountData.account} disabled ="selected" {/if} value="{$accountData.account}"/>
			<a style="color: red;" id="accountTips"></a>
		</p>
		<p>
			<span>广告参数：</span>
			<textarea style="width:400px; height:128px;" name="data">{$accountData.data}</textarea>
			<a style="color: red;" id="tips"></a>
		</p>
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">条件重置</button>
		</p>
{/if}
<!--END 列表頁-->
{/block}