    <table class="list">
        <tr style="background-color:#CCCCCC;">
            {if $formType neq "3"}<th>日期</th>{/if}
            <th>广告ID</th>
            <th>广告名称</th>
            {if ($formType neq "1" && $version eq '2.0') || ($formType eq "3" && $version eq '3.0')}<th>消耗</th>{/if}
            <th>新增注册</th>
            <th>新增充值</th>
            {if $formType neq "1"}<th>新增充值人数</th>{/if}
            <th>活跃充值</th>
            {if $formType neq "1"}<th>充值人数</th>{/if}
        </tr>
        {foreach from=$list item=game}
        <tr align="center">
            {if $formType neq "3"}<td>{$game.day} {$game.hour}</td>{/if}
            <td>{$game.adid}</td>
            <td>{$game.adName}</td>
            {if ($formType neq "1" && $version eq '2.0') || ($formType eq "3" && $version eq '3.0')}<td>{$game.cost}</td>{/if}
            <td>{$game.newRegist}</td>
            <td>{$game.newAmount}</td>
            {if $formType neq "1"}<td>{$game.newPayUser}</td>{/if}
            <td>{$game.amount}</td>
            {if $formType neq "1"}<td>{$game.payUser}</td>{/if}
        </tr>
        {foreachelse}
                <td colspan="8" ><font color="red">暂无数据</font></td>
        {/foreach}
        {if $sum}
        <tr align="center" style="background-color:#CCCCCC;">
            {if $formType neq "3"}<td></td>{/if}
            <td>{if $formType eq "3"}汇总{/if}</td>
            <td></td>
            {if ($formType neq "1" && $version eq '2.0') || ($formType eq "3" && $version eq '3.0')}<td>{$sum.cost}</td>{/if}
            <td>{$sum.newRegist}</td>
            <td>{$sum.newAmount}</td>
            {if $formType neq "1"}<td>{$sum.newPayUser}</td>{/if}
            <td>{$sum.amount}</td>
            {if $formType neq "1"}<td>{$sum.payUser}</td>{/if}
        </tr>
        {/if}
    </table>