{extends file='layout/new.html'}
{block name=body}

<!--START 列表頁-->
{if $operation == 'index'}
	<h3>
		<span><a href="/index.php?m=game&a=openServiceInfo&operation=add">新增開服信息</a></span>
		伺服器列表
	</h3>
	<table class="list">
		<tr>
			<th>ID编号</th>
			<th>游戏</th>
			<th>伺服器</th>
			<th>開服時間</th>
			<th>地址</th>
			<th>排序號</th>
			<th>动作</th>
		</tr>
		{foreach from=$service_list item=service}
		<tr>
			<td>{$service.id}</td>
			<td>{$service.game}</td>
			<td>{$service.server}</td>
			<td>{$service.date|date_format:"%Y-%m-%d"}</td>
			<td><a href="{$service.url}" title="{$service.url}" target="_blank">{$service.url|truncate:40:"...":true}</a></td>
			<td>{$service.sort}</td>
			<td><a href="/index.php?m=game&a=openServiceInfo&operation=edit&id={$service.id}">編輯</a> | <a href="/index.php?m=game&a=openServiceInfo&operation=del&id={$service.id}">刪除</a></td>
		</tr>
		{/foreach}
	</table>
<!--END 列表頁-->

<!--START 新增或者編輯頁-->
{elseif $operation == 'add' || $operation == 'edit'}
	<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
	<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>

	<h3>
		<span><a href="/index.php?m=game&a=openServiceInfo">返回開服列表</a></span>
		{if $operation == 'add'}
			新增開服信息
		{else}
			編輯開服信息
		{/if}
	</h3>
	<form action="/index.php?m=game&a=openServiceInfo&operation=save" method="post" class="searchbox">
		<input type="hidden" name="id" value="{$service.id}" />
		<p>
			<span>游戏：</span>
			<input type="text" name="game" value="{$service.game}" /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>伺服器：</span>
			<input type="text" name="server" value="{$service.server}" /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>開服日期：</span>
			<input type="text" name="date" value="{$service.date|date_format:'%Y-%m-%d'}" onclick="WdatePicker({ maxDate: '9999-12-30', readOnly: true });"  /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>地址：</span>
			<input type="text" name="url" value="{$service.url}" style="width: 400px;" /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>排序：</span>
			<input type="text" name="sort" value="{$service.sort}" />
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">條件重置</button>
		</p>
	</form>
<!--END 新增或者編輯頁-->

{/if}
{/block}