
<title>{if $title}{$title} — {/if}OSS后台管理系統</title>
<link rel="stylesheet" type="text/css" href="/css/theme.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/easyui.css">
<link rel="stylesheet" type="text/css" href="/css/icon.css">
<script>
	var str = document.cookie.match(new RegExp("(^| )"+'theme'+"=([^;]*)(;|$)"));
    var StyleFile = "theme"+str[2]+".css";
	document.writeln('<link rel="stylesheet" type="text/css" href="/css/' + StyleFile + '">');
</script>
<script src="/js/jquery-1.7.2.min.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/css/ie-sucks.css" />
<![endif]-->