{extends file='layout/new.html'}
{block name=body}

	<h3>
		<span><a href="/index.php?m=sdkChannel&a=listChannel">返回列表</a></span>
		查看渠道
	</h3>
	<form  class="searchbox">
		<p>
			<span>上级游戏：</span>
				{foreach from=$game item=data}
				{if $data.alias === $channel.gameAlias}{$data.upperName}{/if}
				{/foreach}
		</p>
		<p>
			<span>专服游戏：</span>
				{foreach from=$game item=data}
				{if $data.alias === $channel.gameAlias}{$data.specialName}{/if}
				{/foreach}
		</p>
		<p>
			<span>游戏：</span>
				{foreach from=$game item=data}
				{if $data.alias === $channel.gameAlias}{$data.name}{/if}
				{/foreach}
		</p>
		<p>
			<span>备注：</span>{$channel.remarks}
		</p>
		<p>
			<span>渠道：</span>
				{foreach from=$channels key=key item=data}
				{if ($key == $channel.channelId)}{$data}{/if}
				{/foreach}
		</p>
		<p>
			<span>包号：</span>{$channel.apkNum}
		</p>
		<p>
			<span>包名：</span>{$channel.pkgName}
		</p>
		<p>
			<span>渠道appId：</span>{$channel.appId}
		</p>
		<p>
			<span>渠道appKey：</span>{$channel.appKey}
		</p>
		<p>
			<span>拓展参数1：</span>{$channel.ext1}
		</p>
		<p>
			<span>拓展参数2：</span>{$channel.ext2}
		</p>
		<p>
			<span>广告商：</span>{if $channel.adsName}{$channel.adsName}{elseif $channel.ext2}广点通{/if}
		</p>
		<p>
			<span>广告商参数：</span>{$channel.adsParam}
		</p>
		<p>
			<span>额外属性：</span>
			<label><input type="checkbox" {if $channel.qyLg}checked="checked"{/if} disabled="disabled" />登入</label>
			<label><input type="checkbox" {if $channel.qyPy}checked="checked"{/if} disabled="disabled" />支付</label>
		</p>
		<p>
			<span>排序：</span>{$channel.sort}
		</p>
		{if $checkRoot eq 1}
		<p>
			<span>渠道分成：</span>{if $channel.exProportion}{$channel.exProportion}{else}{$proportion[$channel.channelId]['proportion']}(默认联运)&nbsp;&nbsp;{if $proportion[$channel.channelId]['proportion2']}{$proportion[$channel.channelId]['proportion2']}(默认广告){/if}{/if}
		</p>
		<p>
			<span>渠道通道费：</span>{if $channel.channelAllowance}{$channel.channelAllowance}{else}{$proportion[$channel.channelId]['channelAllowance']}(默认){/if}&nbsp;&nbsp;对外GS默认分成0.2
		</p>
		{/if}
		<p>
			<span>角色升级记录：</span>{if $channel.upGradeMark eq 1}开启{else}关闭{/if}
		</p>
		<p>
			<span>是否测试：</span>{if $channel.isTest eq 1}开启{else}关闭{/if}&nbsp;（开启即允许渠道测试账号充值到账，订单记录为渠道虚拟支付，反之不到账且订单归为QA订单；目前支持测试渠道为Quick、九尊、风腾；）
		</p>
		<p>
			<span>游戏公钥：</span>
			<textarea style="margin-top: 8px; width: 400px; height: 150px;" disabled="disabled" name="gamePubKey">{$gamePubKey}</textarea>
		</p>
		<p>
			<span>支付公钥：</span>
			<textarea style="margin-top: 8px; width: 400px; height: 150px;" disabled="disabled" name="payPubKey">{$payPubKey}</textarea>
		</p>
		{if $channel.channelId eq '500001'}
		<p>
			<span>游戏私钥：</span>
			<textarea style="margin-top: 8px; width: 400px; height: 150px;" disabled="disabled" name="gamePrivateKey">{$gamePrivateKey}</textarea>
		</p>
		{/if}
		<p>
			<span>回调参数：</span>{$callbackUrl}
		</p>
		<p>
			<span>双端互通：</span>{if $channel.interflow == 0 }不互通{elseif $channel.interflow == 1 }互通{/if}
		</p>
		<p>
			<span>包名白名单：</span>
			<textarea style="margin-top: 8px; width: 400px; height: 150px;" disabled="disabled" name="packageName">{$packageName}</textarea>
		</p>
	</form>
<!--END 列表頁-->
{/block}