{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
{if $gid neq 8}
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
{/if}
<h3>
    关联订单列表
</h3>
<form class="searchbox" action="/index.php?m=linkData&a=linkOrder" method="post">
    <input type="hidden" name="page" value="{$page}" id="page" />
    <input type="hidden" name="operation" value="" id="operation" />
    <p>
        <span>年份:</span>
        <select name="years" style="width: 100px;">
            <option value="2022" {if $years eq 2022}selected="selected"{/if}>2022年</option>
        </select>
    </p>
    <p>
        <span>起始时间：</span>
        <input type="text" name="start" id="start_date" class="date" value="{$start}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})" style="width: 115px;"> 至 <input type="text" name="end" id="end_date" class="date" value="{$end}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )" style="width: 115px;">
        <span>订单号：</span>
        <input type="text" placeholder="请输入订单号" name="orderId" value="{$orderId}" style="width: 147px;"/>
        <span>帐号：</span>
        <input type="text" placeholder="请输入帐号" name="userName" value="{$userName}" style="width: 147px;"/>
        <span>支付方式：</span>
        <select name="payType" style="width: 100px;">
            <option value="">请选择</option>
            <option value="kb" {if $payType eq 'kb'}selected="selected"{/if}>咖币</option>
            <option value="coin" {if $payType eq 'coin'}selected="selected"{/if}>dkw平台币</option>
        </select>
    </p>
    <p>
        <span>来自游戏：</span>
        <select name="upperName" id="upperName" style="width: 90px;">
            <option value="">请选择</option>
            {foreach from=$UpperList item=name key=key1}
                <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
            {/foreach}
        </select>
        <select name="specialName" id="specialName" style="width: 90px;">
            <option value="">请选择</option>
            {foreach from=$specialList item=name key=key1}
                <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
            {/foreach}
        </select>
        <select name="game" id="game" style="width: 90px;">
            <option value="">请选择</option>
            {foreach from=$games item=name key=key1}
            <option value="{$key1}" {if $game eq $key1}selected="selected"{/if}>{$name}</option>
            {/foreach}
        </select>
        <span>渠道：</span>
        <select name="channel" id="channel" style="width: 160px;">
            <option value="">请选择</option>
            {foreach from=$channels key=key1 item=data}
            <option value="{$key1}" {if ($channel == $key1)}selected="selected"{/if}>{$data}</option>
            {/foreach}
        </select>
        <span>包号：</span>
        <select name="apkNum" id="apkNum" style="width: 160px;">
            <option value="">请选择</option>
            {foreach from=$committeApknum key=key2 item=apk}
                <option value="{$apk}" {if ($apkNum == $apk)}selected="selected"{/if}>{$apk}</option>
            {/foreach}
        </select>
        </p>
        <p>
        <span>区服ID：</span>
        <input type="text" placeholder="区服ID" name="serverId" value="{$serverId}" style="width: 147px;"/>
        <span style="width: 205px;">关联渠道：</span>
        <select name="linkChannelId" style="width: 160px;">
            <option value="">请选择</option>
            {foreach from=$linkChannels key=key1 item=data}
            <option value="{$key1}" {if ($linkChannelId == $key1)}selected="selected"{/if}>{$data}</option>
            {/foreach}
        </select>
        <span>关联账号：</span>
        <input type="text" placeholder="请输入关联账号" name="linkUserName" value="{$linkUserName}" style="width: 147px;"/>
    </p>
	<table style="clear:both;margin-top:10px; float:right;width:98%;">
		<tr>
			<td align="left" style="width: 100px"><button type="submit" class="su inline" id="ccc" >查询</button></td>
			<td align="left">
				<button type="submit" class="su" value="report" id="report">导出</button><font><!--考虑服务器性能损耗，一次导出最多导出三千条--></font>
			</td>
		</tr>
	</table>	
</form>
<table class="list">
    <tr style="background-color:#CCCCCC;">
        <th>订单号</th>
        <th>账号</th>
        <th>渠道</th>
        <th>所属包体</th>
        <th>上级游戏名</th>
        <th>游戏</th>
        <th>服务器</th>
        <th>角色</th>
        <th>角色ID</th>
        <th>充值时间</th>
        <th>金额</th>
        <th>实付</th>
        <th>支付方式</th>
        <th>关联渠道</th>
        <th>关联账号</th>
        <th>达咖玩标识</th>
    </tr>
	{foreach from=$order_list item=order}
	<tr >
        <td><font color="red">{$order.orderId}</font></td>
        <td>{$order.userName}</td>
        <td>{$order.channelName}</td>
        <td>{$order.apkNum}</td>
        <td>{$order.upperName}</td>
        <td>{$order.gameName}</td>
        <td>{$order.server}</td>
        <td>{$order.roleName}</td>
        <td>{$order.roleId}</td>
        <td>{$order.time|date_format:"%y-%m-%d %H:%M"}</td>
        <td>{$order.money}</td>
        <td>{$order.realMoney}</td>
        <td>{$order.payTypeName}</td>
        <td>{$order.linkChannelName}</td>
        <td>{$order.linkUserName}</td>
        <td>{$order.mark}</td>
        <!--<td title="{$order.userName}">{$order.userName|truncate:15:"..":true}<br><font style="color:blue;">{$order.userid|truncate:15:"..":true}</font></td>
        <td><font color="red">{$order.orderId}</font></td>
        <td title="{$order.upperName}">{$order.upperName|truncate:7:"..":true}</td>
        <td title="{$order.gameName}">{$order.gameName|truncate:8:"..":true}</td>
        <td title="{$order.server}">{$order.server|truncate:6:"..":true}</td>
        <td title="{$order.roleName}"><a class="btn" data-clipboard-text="{$order.roleName}" style="text-decoration:none; color: #444;">{$order.roleName|truncate:7:"..":true}</a></td>
        <td title="{$order.roleId}"><a class="btn" data-clipboard-text="{$order.roleId}" style="text-decoration:none; color: #444;">{$order.roleId|truncate:7:"..":true}</a></td>
        <td>{$order.time|date_format:"%y-%m-%d %H:%M"}</td>
        <td {if $order.channelname}style="color:red;"{/if}>{$order.money}/{$order.gold}</td>
        <td title="{$order.channelName}">{$order.channelName|truncate:4:"..":true}</td>
        <td>
			{$order.apkNum}
		</td>-->
    </tr>
	{foreachelse}
    <tr>
        <td colspan="11">无渠道数据</td>
    </tr>
	{/foreach}
</table>
<div id="pager"></div>
<script src="js/pager.js"></script>
<script>
$('.list:odd').css({ 'backgroundColor': '#f5f5f5' });
function gotoNext(page,pagesize){
	$('#page').val(page);
	$('.searchbox').submit();
}
$("#ccc").click(function() {
	$("#operation").val("");
});
$("#report").click(function() {
	$("#operation").val("report");
	$('.searchbox').submit();
});
function gotoNext(page,pagesize){
	window.location.href = "/index.php?m=linkData&a=linkOrder&page=" + page+"&years={$years}&start={$start}&end={$end}&payType={$payType}&upperName={$upperName}&specialName={$specialName}&game={$game}&channel={$channel}&apkNum={$apkNum}&userName={$userName}&serverId={$serverId}&linkChannelId={$linkChannelId}&linkUserName={$linkUserName}";
}
var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });

</script>
{/block}