{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
<style>
    .file{
        width: 180px;
    }
</style>
{if $operation == 'index'}
<h3>
    VIP列表
</h3>

{elseif $operation == 'add' ||  $operation == 'edit'}
    <h3>
        <span><a href="/index.php?m=sdkGame&a=game">返回列表</a></span>
        {if $operation == 'add'}
            添加VIP用户
        {else}
            编辑VIP用户
        {/if}
    </h3>
    <form action="/index.php?m=vipGuest&a=vipGuest&operation=save&do" method="post" class="searchbox"  enctype="multipart/form-data">
        {if $operation == 'add'}
        <input type="hidden" name="isNew" value="1" />
        <input type="hidden" name="loginTime" value="{$loginTime}" />
        {/if}
        <input type="hidden" name="channelName" value="{$channelName}" />
        <input type="hidden" name="channelId" value="{$channelId}" />
        <input type="hidden" name="joinTime" value="{$joinTime}" />
        <input type="hidden" name="gameName" value="{$gameName}" />
        <input type="hidden" name="gameAlias" value="{$gameAlias}" />
        <input type="hidden" name="id" value="{$list.id}" />
        <p>
            <span>玩家账号：</span>
            <input type="text" name="userName" value="{$userName}" readonly="readonly" />
        </p>
        <p>
            <span>微信：</span>
            <input type="text" name="weixin" value="{$list.weixin}"/>
        </p>
        <p>
            <span>QQ：</span>
            <input type="text" name="qq" value="{$list.qq}"/>
        </p>
        <p>
            <span>联系电话：</span>
            <input type="text" name="phoneNum" value="{$list.phoneNum}"/>
        </p>
        <p>
            <span>用户生日：</span>
            <input type="text" name="birthday" value="{if $list.birthday}{$list.birthday|date_format:'%Y-%m-%d'}{/if}" onfocus="WdatePicker()" ></input>
        </p>
        <p>
            <span>备注：</span>
            <textarea style=" width: 550px;" name="remark" cols="" rows="">{$list.remark}</textarea>
        </p>
        <p>
            <span>审核图片：</span>
            <input type="file" class="file" name="file" οnchange="changeSrc(this)" id="btn_file">
            <span style="color: red;text-align: left;">限制1M</span>
        </p>
        <p class="line">
            <button type="button" class="getSub su">立即提交</button>
        </p>
    </form>
{/if}
<script>
    $('.getSub').on('click',function(){
        // 提交表单
        var file = document.getElementById('btn_file').files[0];
        if (file) {
            if (file.size > 1048576) {
            alert("上传的图片大小不能超过1M");
            }else{
                var r = confirm('信息是否核对无误？');
                if (r == true) {
                    $('.searchbox').submit();
                }
            }
        }else{
            alert("未上传图片");
        }
        
    })
</script>
{/block}