/* 
    Document   : flashgame.css
    Created on : 2012/8/10, 下午 07:48:40
    Author     : Pigo
    Description:
        Purpose of the stylesheet follows.
*/



.flashform label {
    width: 150px;
    display: inline-block;
    text-align: right;
}
.flashform p label span {
    display: inline;
}

.flashform fieldset legend {
    margin-left: 10px;
}

.hint {
    padding-left: 50px;
}

form.searchbox div {
    width: auto;
    float: none;
}

.flashform .checkboxgroup {
    padding-left: 50px;
}

.flashform .checkboxgroup label  {
    width: auto;
}
.flashform .checkboxgroup label span {
    text-align: left;
}

a.down {
    background: url(images/down.gif) right center no-repeat;
    padding-right: 10px;
}
a.up {
    background: url(images/up.gif) right center no-repeat;
    padding-right: 10px;
}
