{extends file='layout/new.html'}
{block name=body}

<!--START 列表頁-->
{if $operation == 'index'}
	<h3>
		<!--<span><font color="#FF0000">[請按規則設定：1-4 為盒子用，5-8 為 sdk 通用遊戲用，9,10為風雲遊戲用，11,12為盒子中部廣告]</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/index.php?m=sdkGame&a=adv&operation=add">新增廣告</a></span>-->
		广告列表
	</h3>
	<table class="list">
		<tr style="background-color:#CCCCCC;">
			<th>唯一标示</th>
			<th>关联游戏</th>
			<th>图片</th>
			<th>动作</th>
		</tr>
		{foreach from=$adv_list item=adv}
		<tr>
			<td>{$adv.id}</td>
			<td><a href="/index.php?m=sdkGame&a=game&operation=edit&game={$adv.game}" target="_blank">{$adv.game}</a></td>
			<td><img src="{$adv.image}" style="width: 150px; height: 100px; margin: 5px;" /></td>
			<td>
				<a href="/index.php?m=sdkGame&a=adv&operation=edit&id={$adv.id}">编辑</a> <!--| <a href="/index.php?m=sdkGame&a=adv&operation=del&id={$adv.id}" class="delete_confirm">删除</a>-->
			</td>
		</tr>
		{/foreach}
	</table>
<script>
	$('.delete_confirm').click(function() {
		return confirm('數據不可恢復，你確定要刪除嗎？');
	});
</script>

{elseif $operation == 'add' || $operation == 'edit'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=adv">返回列表</a></span>
		{if $operation == 'add'}
			新增廣告
		{else}
			编辑廣告
		{/if}
	</h3>
	<form action="/index.php?m=sdkGame&a=adv&operation=save" method="post" class="searchbox"  enctype="multipart/form-data">
		{if $operation == 'add'}
			<input type="hidden" name="is_new" value="1" />
		{else}
			<input type="hidden" name="id" value="{$adv.id}" />
		{/if}
		<p>
			<span>标示：</span>
			<input type="text" name="id" value="{$adv.id}" {if $operation == 'edit'}readonly="readonly" disabled="disabled"{/if} />
			<font color="#FF0000">&nbsp;*</font>&nbsp;须为 <font color="#FF0000">default*</font> 的形式</font>
		</p>
		<p>
			<span>关联游戏：</span>
			<select name="game" id="game" style="width:164px;">
				<option value="">请选择</option>
				{foreach from=$games item=name key=key1}
				<option value="{$key1}" {if $adv.game eq $key1}selected="selected"{/if}>{$name}</option>
				{/foreach}
			</select><font color="#FF0000">&nbsp;*</font>&nbsp;请选择游戏别名
		</p>
		<p>
			<span>Itunes id：</span>
			<input type="text" name="itunes_id" value="{$adv.itunes_id}" />&nbsp;&nbsp;若填写该值 iOS 环境下点击广告将跳至 itunes
		</p>
		<p>
			<span>跳转类型{$adv.type}：</span>
			<select name="type" id="type" style="width:164px;">
				<option value="1" {if $adv.type eq 1}selected="selected"{/if}>跳转至游戏下载</option>
				<option value="2" {if $adv.type eq 2}selected="selected"{/if}>跳转至以下链接</option>
			</select>
		</p>
		<p>
			<span>跳转链接：</span>
			<input type="text" name="link" value="{$adv.link}" />
		</p>
		{if !empty($adv.image)}
		<p style="margin-top: 10px;">
			<span>现图片：</span>
			<img src="{$adv.image}" style="width: 300px; height: 200px;" />
		</p>
		{/if}
		<p>
			<span>{if !empty($adv.image)}更换{/if}图片：</span>
			<input type="file" name="image[]" />
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">条件重置</button>
		</p>
	</form>
{/if}
{/block}