{extends file='layout/new.html'}
{block name=body}

<!--START 列表頁-->
{if $operation == 'index'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=category&operation=add">新增分类</a></span>
		分类列表
	</h3>
	<table class="list">
		<tr style="background-color:#CCCCCC;">
			<th>标识</th>
			<th>名称</th>
			<th>排序號</th>
			<th>动作</th>
		</tr>
		{foreach from=$category_list item=category}
		<tr>
			<td>{$category.id}</td>
			<td>{$category.name}</td>
			<td>{$category.sort}</td>
			<td>
				<a href="/index.php?m=sdkGame&a=category&operation=edit&id={$category.id}">編輯</a> | <a href="/index.php?m=sdkGame&a=category&operation=del&id={$category.id}" class="delete_confirm">刪除</a>
			</td>
		</tr>
		{/foreach}
	</table>
<script>
	$('.delete_confirm').click(function() {
		return confirm('數據不可恢復，你確定要刪除嗎？');
	});
</script>

{elseif $operation == 'add' || $operation == 'edit'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=category">返回列表</a></span>
		{if $operation == 'add'}
			新增分类
		{else}
			編輯分类
		{/if}
	</h3>
	<form action="/index.php?m=sdkGame&a=category&operation=save" method="post" class="searchbox">
		<!--此行需保留，编辑时候有用-->
		<input type="hidden" name="id" value="{$category.id}" />
		<p>
			<span>标识：</span>
			<input type="text" name="id" value="{$category.id}" {if $operation == 'edit'}readonly="readonly" disabled="disabled"{/if} /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>名称：</span>
			<input type="text" name="name" value="{$category.name}" /><font color="#FF0000">&nbsp;*</font>
		</p>
		<p>
			<span>排序號：</span>
			<input type="text" name="sort" value="{$category.sort}" />
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">條件重置</button>
		</p>
	</form>

{/if}
<!--END 列表頁-->
{/block}