{extends file='layout/new.html'}
{block name=body}
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
{if $operation == 'index'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=gameServer&operation=add">新增游戏区服</a></span>
		游戏区服列表
	</h3>
	<form class="searchbox" action="/index.php?m=sdkGame&a=gameServer" method="post">
    <p>
    	<span>来自游戏：</span>
			{if $gid eq 17 || $gid eq 15}
				<input type="hidden" id="gameStr" value="{$gameStr}" />
				<input type="hidden" id="gid" value="{$gid}" />
			{/if}
            <select name="upperName" id="upperName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
            <select name="specialName" id="specialName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
        <span>是否参考服：</span>
            <select name="reference" style="width: 100px;">
                <option value="">请选择</option>
                <option value="1" {if $reference eq 1}selected="selected"{/if}>是</option>
                <option value="2" {if $reference eq 2}selected="selected"{/if}>否</option>
            </select>
        <button type="submit" class="su">查询</button>
    </p>
	</form>
	<table class="list">
		<tr>
			<th>上级游戏名</th>
			<th>专服游戏名</th>
			<th>游戏区服号</th>
			<th>游戏区服名</th>
			<th>cp区服编号</th>
			<th>参考服</th>
			<th>操作</th>
		</tr>
		{foreach from=$game_list item=game}
		<tr>
			<td>{$game.upperName}</td>
			<td>{$game.specialName}</td>
			<td>{$game.gameServerNum}</td>
			<td>{$game.gameServerName}</td>
			<td>{$game.cpServerNum}</td>
			<td>{if $game.reference == 1}<font style="color: green">是</font>{/if}</td>
			<td>
				<a href="/index.php?m=sdkGame&a=gameServer&operation=edit&id={$game.id}&upperName={$game.upperName}&specialName={$game.specialName}">编辑</a>
				<a href="/index.php?m=sdkGame&a=gameServer&operation=del&id={$game.id}" class="delete">删除</a>
			</td>
		</tr>
	    {/foreach}
	</table>
	<div id="pager"></div>
<script src="js/pager.js"></script>
<script>
$('.delete').click(function() {
	return confirm('數據不可恢復，你確定要刪除嗎？');
});
function gotoNext(page,pagesize){
	window.location.href = "/index.php?m=sdkGame&a=gameServer&page=" + page+ "&upperName={$upperName}&specialName={$specialName}&reference={$reference}";
}
var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
{elseif $operation == 'add' || $operation == 'edit'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=gameServer">返回列表</a></span>
		新增游戏区服
	</h3>
	<form action="/index.php?m=sdkGame&a=gameServer&operation=save" method="post" class="searchbox">
		{if $operation == 'edit'}
		<input type="hidden" name="id" value="{$gameList.id}" />
        <input type="hidden" name="is_new" value="0" />
        {else}
        <input type="hidden" name="is_new" value="1" />
		{/if}
		<p>
			<span>上级游戏名：</span>
			<select name="upperName" id="upperName">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $gameList.upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
        </p>
        <p>
			<span>专服游戏名：</span>
            <select name="specialName" id="specialName">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $gameList.specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
        </p>
        <p>
			<span>游戏区服名：</span>
			<input type="text" name="gameServerName" value="{$gameList.gameServerName}"  />
		</p>
		<p>
			<span>游戏区服号：</span>
			<input type="text" name="gameServerNum" value="{$gameList.gameServerNum}"  />
		</p>
		<p>
			<span>cp区服编号：</span>
			<input type="text" name="cpServerNum" value="{$gameList.cpServerNum}" />
		</p>
		<p>
			<span>是否参考服：</span>
			<label><input type="checkbox" name="reference" value="1" {if {$gameList.reference} == 1} checked="checked"{/if} /></label>
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">条件重置</button>
		</p>
	</form>

{/if}
{/block}