{extends file='layout/new.html'}
{block name=body}
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
{if $operation == 'index'}
	<h3>
		{if $gid == 1}
		<span><a href="/index.php?m=sdkGame&a=testUsers&operation=add">新增母包测试账号</a></span>
		{/if}
		母包测试帐号列表
	</h3>
	<form class="searchbox" action="/index.php?m=sdkGame&a=testUsers" method="post">
		<p>
			<span>账号：</span>
			<input type="text" name="userName" value="{$userName}" placeholder="筛选测试账号">
			<button type="submit" class="su">查询</button>
		</p>
	</form>
	<table class="list">
		<tr>
			<th>用户名称</th>
			<th>配额</th>
			<th>IP白名单</th>
			{if $gid == 1}
			<th>操作</th>
			{/if}
		</tr>
		{foreach from=$testUserList item=item}
		<tr>
			<td>{$item.userName}</td>
			<td>{$item.amount}</td>
			<td>{$item.ip|truncate:13:"......":true}</td>
			{if $gid == 1}
			<td>
				<a href="/index.php?m=sdkGame&a=testUsers&operation=edit&id={$item.id}">编辑</a>
				<a href="/index.php?m=sdkGame&a=testUsers&operation=del&id={$item.id}" class="delete">删除</a>
			</td>
			{/if}
		</tr>
	    {/foreach}
	</table>
	<div id="pager"></div>
<script src="js/pager.js"></script>
<script>
$('.delete').click(function() {
	return confirm('數據不可恢復，你確定要刪除嗎？');
});
function gotoNext(page,pagesize){
	window.location.href = "/index.php?m=sdkGame&a=testUsers&page=" + page;
}
var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
{elseif $operation == 'add' || $operation == 'edit'}
	<h3>
		<span><a href="/index.php?m=sdkGame&a=testUsers">返回列表</a></span>
		新增母包测试账号
	</h3>
	<form action="/index.php?m=sdkGame&a=testUsers&operation=save" method="post" class="searchbox">
		{if $operation == 'edit'}
		<input type="hidden" name="id" value="{$userData.id}" />
		{/if}
        <p>
			<span>用户名称：</span>
			<input type="text" name="userName" value="{$userData.userName}"  /><font style="color: red;">*</font>
		</p>
		<p>
			<span>分配额度：</span>
			<input type="text" name="amount" value="{$userData.amount}"  /><font style="color: red;">* 分配额度不能超过5000元</font>
		</p>
		<p>
			<span>IP白名单：</span>
			<textarea name="ip" value="" id="" cols="30" rows="10">{if $userData.ip}{$userData.ip}{/if}</textarea><font style="color: red;"> 多个IP使用英文逗号分开</font>
		</p>
		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">条件重置</button>
		</p>
	</form>

{/if}
{/block}