{extends file='layout/new.html'}
{block name=body}
<style>
	.geopos a{
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 0.2em solid #666;
		border-radius: 50%;
		border-top: 0.14em solid transparent;
		-webkit-transform: rotate(48deg);
		}
</style>
<h3>文件列表 （文件创建时间3天后会自动删除，请及时下载）<span class="geopos" style="float: rigth;"><a href="/index.php?m=statistics&a=fileList"></a></span></h3>

<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>

<table class="list">
	<tr style="background-color:#CCCCCC;">
		<th style="width: 100px">文件名</th>
		<th style="width: 100px">创建时间</th>
		<th style="width: 200px">内容</th>
		<th style="width: 160px">格式</th>
		<th style="width: 160px">状态</th>
		<th style="width: 160px">操作</th>
	</tr>
	{foreach from=$fileList item=data}
	<tr>
        <td>{$data.fileName}</td>
        <td>{$data.createTime}</td>
        <td>{$data.content}</td>
        <td>{$data.type}</td>
		{if $data.status == '1'}
			<td style="color: #27a593;">文件生成中</td>
		{elseif $data.status == '2'}
			<td style="color:green;">文件生成完成</td>
		{else}
			<td style="color: red;">已删除</td>
		{/if}
        <td>{if $data.status == '2'}<a href="index.php?m=statistics&a=fileList&operation=download&id={$data.id}">下载</a>{else}--{/if}</td>
	</th>
	{/foreach}
</table>

<!-- 分页 -->
<div id="pager"></div>
<script src="js/pager.js"></script>
<script>
	function gotoNext(page, pagesize){
		window.location.href = "/index.php?m=statistics&a=fileList&page=" + page;
	}
	var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
	document.getElementById('pager').innerHTML = pageStr;
</script>

{/block}
