{extends file='layout/new.html'}

{block name=body}
<script type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/chart.js"></script>
{if $gid neq 8}
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
{/if}
<div class="content" style="width: 98%; margin-top: -1%; margin-left: -1%">
	<h3>游戏充值分布</h3>
	<p class="quick">
		<a style="color: red;">快速查看</a>：
		<a href='javascript:void(0);' onclick="searchTime(0, 'day');">今日</a>
		<a href='javascript:void(0);' onclick="searchTime(1, 'day');">昨日</a>
		<a href='javascript:void(0);' onclick="searchTime(2, 'day');">前日</a>
		<a href='javascript:void(0);' onclick="searchTime(0, 'week');">本周</a>
		<a href='javascript:void(0);' onclick="searchTime(0, 'month');">本月</a>
		<a href='javascript:void(0);' onclick="searchTime(1, 'month');">前一个月</a>
	</p>
	<form name="form1" id="form1" class="searchbox" style="margin:0;">
		<input type="hidden" name="m" value="statistics" />
		<input type="hidden" name="a" value="gameRechargeDataPie" />
		<input type="hidden" name="ajax" value="getGameRechargeDataPie" />
        <p>
            <span>来自游戏：</span>
            {if $gid neq 8}
	            <select name="upperName" id="upperName" style="width: 98px;">
	                <option value="">请选择</option>
	                {foreach from=$UpperList item=name key=key1}
	                    <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
	                {/foreach}
	            </select>
	            <select name="specialName" id="specialName" style="width: 98px;">
	                <option value="">请选择</option>
	                {foreach from=$specialList item=name key=key1}
	                    <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
	                {/foreach}
	            </select>
	            <select name="game" id="game" style="width: 98px;">
	        {else}
            	<select name="game" id="game" style="width: 185px;">
	        {/if}
                <option value="">请选择</option>
                {foreach from=$games key=key1 item=item}
                    <option value="{$item.alias}" {if $game eq $item.alias}selected="selected"{/if}> {$item.alias|capitalize|truncate:1:"":true} — {$item.name}</option>
                {/foreach}
            </select>
			<span style=" margin-right: 5px;">起始时间：</span><input name="start_date" id="start_date" type="text" class="wdate" value="{if $smarty.get.start neq ''}{$smarty.get.start}{else}{$bef_time}{/if}" onclick="var end_date=$dp.$('end_date');WdatePicker({literal}{onpicked:function(){end_date.focus();},minDate:'#F{($dp.$D(\'end_date\',{y:-1,d:0}))}',maxDate:'#F{$dp.$D(\'end_date\')}'}{/literal})" style="width: 84px;"/>
			至
			<input name="end_date" id="end_date" type="text" class="wdate" value="{if $smarty.get.end neq ''}{$smarty.get.end}{else}{$ent_time}{/if}" onclick="WdatePicker({literal}{minDate:'#F{($dp.$D(\'start_date\',{d:0,H:0}))}',maxDate:'#F{($dp.$D(\'start_date\',{y:1,d:0}))}'}{/literal} )" style="width: 84px;"/>
		</p>
		<p>
			<input id="sub" type="button" value="查詢" class="search" style=" margin-left: 20px;" />
		</p>
	</form>
</div>
<div class="clear"></div>
<span id="charttip"></span>
<div id="chart">
	<div id="gameDataPie" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
{if $gid eq 8}
<script>
$(function() {
	get_servers();
	$("#game").change(function(){
		get_servers();
		return false;
	});
    get_apkNum();
    $("#channel").change(function(){
        get_apkNum();
        return false;
    });

	function get_servers() {
		var game = $('#game').val();
        var channel = $('#channel').val();
		if(game == ''){
			$("#channel option[text!='']").remove();
			$("#channel").append('<option value="">请选择</option>').change();
			return false;
		}

		$.ajax({
			type: "POST",
			url: "/?m=sdkChannel&a=getGameChannels",
			data: "game="+game+"&channelId="+channel,
			dataType: 'text',

			success: function(result){
				$("#channel option[text!='0']").remove();
				$("#channel").append(result);
			}
		});
		return false;
	}
    function get_apkNum() {
        var game = $('#game').val();
        var channel = $('#channel').val();
        var apkNum = $('#apkNum').val();
        if(channel == ''){
            $("#apkNum option[text!='']").remove();
            $("#apkNum").append('<option value="">请选择</option>').change();
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/?m=statistics&a=getApkNum",
            data: "game="+game+"&channelId="+channel+"&apkNum="+apkNum,
            dataType: 'text',

            success: function(result){
                $("#apkNum option[text!='0']").remove();
                $("#apkNum").append(result);
            }
        });
        return false;
    }
});
</script>
{/if}
{/block}
