{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
<h3>
    充值排行榜
</h3>

<form class="searchbox" action="/index.php?m=statistics&a=paidList" method="post">
    <p>
        {if $gid eq 2 || $gid eq 11}
            <input type="hidden" id="gameStr" value="{$gameStr}" />
            <input type="hidden" id="gid" value="{$gid}" />
        {/if}
        <span>来自游戏：</span>
            <select name="upperName" id="upperName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
            <select name="specialName" id="specialName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
            <select name="game" id="game" style="width: 98px;">
            <option value="">请选择</option>
            {foreach from=$games item=name key=key1}
            <option value="{$key1}" {if $game eq $key1}selected="selected"{/if}> {$key1|capitalize|truncate:1:"":true} — {$name}</option>
            {/foreach}
        </select>
        <span style="width: 60px;">渠道： </span>
        <select name="channel" id="channel" style="width: 170px;">
            <option value="">请选择</option>
            {foreach from=$channels key=key1 item=data}
            <option value="{$key1}" {if ($channel == $key1)}selected="selected"{/if}>{$data}</option>
            {/foreach}
        </select>
        <span>包号：</span>
        <select name="apkNum" id="apkNum" style="width: 160px;">
            <option value="">请选择</option>
            {foreach from=$committe_apknum key=key2 item=apk}
                <option value="{$apk}" {if ($apkNum == $apk)}selected="selected"{/if}>{$apk}</option>
            {/foreach}
        </select>
    </p>
    <p>
        <span>起始时间：</span>
        <input type="text" name="start_date" id="start_date" class="date" value="{$start_date}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})"> 至 <input type="text" name="end_date" id="end_date" class="date" value="{$end_date}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )">
    </p>
    <p style="width: 950px;">
        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="su inline">查询</button><font>考虑服务器性能损耗，只显示前100名</font>
    </p>
</form>

<table class="list">
    {if $check eq 1}
    <tr style="background-color:#CCCCCC;">
        <th style="width: 1%;"></th>
        <th style="width: 4%;">用户名</th>
        <th style="width: 6%;">游戏</th>
        <th style="width: 5%;">渠道</th>
        <th style="width: 3%;">包号</th>
        <th style="width: 4%; color:#FF0000">服务器（曾）</th>
        <th style="width: 4%;">角色名</th>
        <th style="width: 4%;">角色ID</th>
        <th style="width: 5%;">充值金额</th>
    </tr>
    {foreach from=$summary key=key1 item=order}
    <tr>
        <td>{$key1+1}</td>
        <td>{$order.userName}</td>
        <td title="{$order.gameName}">{$order.gameName}</td>
        <td>{$order.channelName}</td>
        <td>{$order.apkNum}</td>
        <td>{$order.server}</td>
        <td>{$order.roleName}</td>
        <td>{$order.roleId}</td>
        <td>{$order.paid}</td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="20">无相关数据</td>
    </tr>
    {/foreach}
    {/if}
</table>
{/block}