{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
{if $gid neq 8}
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
{/if}
<h3>
    角色列表
</h3>
<form class="searchbox" action="/index.php?m=statistics&a=roleInfo" method="post">
    <input type="hidden" name="operation" value="" id="operation" />
    <p>
        <span>来自游戏：</span>
        {if  $gid eq 2 || $gid eq 11 || $gid eq 15 || $gid eq 17 || $gid eq 22}
            <input type="hidden" id="gameStr" value="{$gameStr}" />
            <input type="hidden" id="gid" value="{$gid}" />
        {/if}
        {if $gid neq 8}
            <select name="upperName" id="upperName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
            <select name="specialName" id="specialName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
            <select name="game" id="game" style="width: 98px;">
        {else}
            <select name="game" id="game">
        {/if}
            <option value="">请选择</option>
            {foreach from=$games item=name key=key1}
                <option value="{$key1}" {if $game eq $key1}selected="selected"{/if}>{$name}</option>
            {/foreach}
        </select>
		<span>渠道： </span>
		<select name="channel" id="channel">
         <option value="">请选择</option>
            {foreach from=$channels key=key1 item=data}
                <option value="{$key1}" {if ($channel == $key1)}selected="selected"{/if}>{$data}</option>
            {/foreach}
        </select>
        <span>包号：</span>
        <select name="apkNum" id="apkNum">
            <option value="">请选择</option>
            {foreach from=$committe_apknum key=key2 item=apk}
                <option value="{$apk}" {if ($apkNum == $apk)}selected="selected"{/if}>{$apk}</option>
            {/foreach}
        </select>

    </p>
    <p>
		<span>账号：</span>
		<input style="width: 186px;" type="text" value="{$userName}" name="userName" id="userName" placeholder="请输入需要搜索的账号" />
        <span style="width: 194px;">角色名：</span>
        <input style="width: 186px;" type="text" value="{$roleName}" name="roleName" placeholder="请输入角色名" />
        <span>角色ID：</span>
        <input style="width: 186px;" type="text" value="{$roleId}" name="roleId" placeholder="请输入角色ID" />
    </p>
    <p>
        <span>最后登录时间：</span>
        <input type="text" name="start_date" id="start_date" class="date" value="{$start_date}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})" style="width: 128px;"> 至 <input type="text" name="end_date" id="end_date" class="date" value="{$end_date}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )" style="width: 128px;">
    </p>
	<table style="clear:both;margin-top:10px; float:right;width:100%;">
		<tr>
            <td align="left" style="width: 100px;"><button type="submit" class="su inline" id="ccc"  style="margin-left: 30px;">查询</button></td>
            <td align="left">
                <button type="submit" class="su" value="report" id="report">导出</button><font>考虑服务器性能损耗，角色名或角色ID只提供全称搜索，一次导出最多导出1000条</font>
            </td>
		</tr>
	</table>
</form>
<table class="list">
    <tr style="background-color:#CCCCCC;">
        <th width="8%">账号</th>
        <th width="9%">上级游戏名</th>
        <th width="9%">来自游戏</th>
        <th width="6%">渠道</th>
        <th width="6%">区服名称</th>
        <th width="6%">区服ID</th>
        <th width="10%">角色名称</th>
        <th width="16%">角色ID</th>
        <th width="6%">包号</th>
        <th width="6%">创角时间</th>
        <th width="6%">最近登录时间</th>
        <th width="6%">最后点击充值</th>
        {if $gid == 1 || $gid == 15}
            <th style="width: 6%;">操作</th>
        {/if}
    </tr>
	{foreach from=$role_list item=order}
	<tr>
        <td>{$order.userName}</td>
        <td>{$order.upperName}</td>
        <td>{$order.gameName}</td>
        <td>{$order.channelName}</td>
        <td>{$order.serverName}</td>
        <td>{$order.serverId}</td>
        <td>{$order.roleName}</td>
        <td>{$order.roleId}</td>
        <td>{$order.apkNum}</td>
        <td>{$order.time|date_format:"y-m-d"}</td>
        <td><font color="red">{$order.roleMTime|date_format:"y-m-d"}</font></td>
        <td><font color="green">{if $order.rolePayTime eq null}--{else}{$order.rolePayTime|date_format:"y-m-d"}{/if}</font></td>
        {if ($gid == 1 || $gid == 15) && $order.channelId == '000000'}
            <td><a href="index.php?m=statistics&a=delRole&roleId={$order.roleId}" id="delRole">删除</a></td>
        {/if}
    </tr>
	{foreachelse}
    <tr>
        <td colspan="10">无数据</td>
    </tr>
	{/foreach}
</table>

<div id="pager"></div>
<script src="js/pager.js"></script>
<script>
$('.list:odd').css({ 'backgroundColor': '#f5f5f5' });
function gotoNext(page,pagesize){
    $('#page').val(page);
    $('.searchbox').submit();
}
$("#ccc").click(function() {
    $("#operation").val("");
});
$("#report").click(function() {
    $("#operation").val("report");
    $('.searchbox').submit();
});
function gotoNext(page,pagesize){
        window.location.href = "/index.php?m=statistics&a=roleInfo&page=" + page+"&game={$game}&channel={$channel}&userName={$userName}&apkNum={$apkNum}&upperName={$upperName}&specialName={$specialName}&info={$info}&&gid={$gid}&roleId={$roleId}&roleName={$roleName}&start_date={$start_date}&end_date={$end_date}";
    }
var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
{/block}