{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
<script src="/js/pop.js"></script>
<style>
    .showHide{ color:#3d203f; text-decoration:none; position:relative; left:0; top:0; z-index:10; color:green;}
    .showHide p{ display:none;}
    .showHide:hover{ display:block; text-decoration:none; height:100%; position:relative; z-index:1000 !important;}
    .showHide:hover p{ display:block; color:#3d203f; background:#cff0fc; position:absolute; left:30px; top:30px; white-space:normal; width:500px;; padding:10px; box-shadow:1px 1px 10px #333; cursor:pointer;}
</style>
<form class="searchbox" action="/index.php?m=finance&a=profit" method="post">
    <p>
        <input type="hidden" name="operation" value="" id="operation" />
        <!-- <span>来自游戏：</span>
            <input type="hidden" id="gameStr" value="{$gameStr}" />
            <input type="hidden" id="gid" value="{$gid}" />
            <input type="hidden" name="operation" value="" id="operation" />
            <select name="upperName" id="upperName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
            <select name="specialName" id="specialName" style="width: 98px;">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
            <select name="game" id="game" style="width: 98px;">
            <option value="">请选择</option>
            {foreach from=$games item=name key=key1}
                <option value="{$key1}" {if $game eq $key1}selected="selected"{/if}>{$name}</option>
            {/foreach}
        </select>
        <span>渠道： </span>
        <select name="channel" id="channel">
         <option value="">请选择</option>
            {foreach from=$channels key=key1 item=data}
                <option value="{$key1}" {if ($channel == $key1)}selected="selected"{/if}>{$data}</option>
            {/foreach}
        </select> -->
        <span>时间：</span>
        <input type="text" name="start_date" id="start_date" class="date" value="{$start_date}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})" style="width: 128px;"> 至 <input type="text" name="end_date" id="end_date" class="date" value="{$end_date}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )" style="width: 128px;">
    </p>
    <table style="clear:both;margin-top:10px; float:right;width:100%;">
        <tr>
            <!-- <td style="display: inline-block;"><button type="submit" class="su inline" id="select" style=" margin-left: 30px;">查询</button></td> -->
            <td style="display: inline-block;"><button type="submit" class="su inline" id="report" style=" margin-left: 30px;">导出</button><em style="color: red;">*&nbsp;考虑服务器性能损耗，一次导出最多导出20000条</em></td>
        </tr>
    </table>
</form>
<!-- <table class="list">
{if $refine != 1}
    <tr style="background-color:#CCCCCC;">
        <th>账单日期</th>
        <th>上线主体</th>
        <th>cp名称</th>
        <th>项目</th>
        <th>专服</th>
        <th>游戏名称</th>
        <th>渠道</th>
        <th>包号</th>
        <th>渠道类别</th>
        <th>总流水</th>
        <th>真实付费流水</th>
        <th>渠道分成比例</th>
        <th>渠道通道费</th>
        <th>渠道分成</th>
        <th>CP分成比例</th>
        <th>CP通道费</th>
        <th>CP分成</th>
        <th>毛利润</th>
        <th>分成后流水</th>
    </tr>
    {foreach from=$profitList item=order}
        <tr>
            <td>{$order.date}</td>
            <td>{$order.mainPart}</td>
            <td>{$order.cpName}</td>
            <td>{$order.upperName}</td>
            <td>{$order.specialName}</td>
            <td>{$order.name}</td>
            <td>{$order.channelName}</td>
            <td>{$order.apkNum}</td>
            <td>{$order.channelType}</td>
            <td>{$order.amount}</td>
            <td>{$order.disAmount}</td>
            <td>{$order.cpRate}</td>
            <td>{$order.cpAllowance}</td>
            <td>{$order.cpAmount}</td>
            <td>{$order.channelRate}</td>
            <td>{$order.channelAllowance}</td>
            <td>{$order.channelAmount}</td>
            <td>{$order.profitMargin}</td>
            <td>{$order.profit}</td>
        </tr>
    {foreachelse}
        <tr>
            <td colspan="20">无相关数据</td>
        </tr>
    {/foreach}
    {foreach from=$summary item=sum}
    <tr style="background-color:#CCCCCC;">
        <td>汇总</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{$sum.amount}</td>
        <td>{$sum.disAmount}</td>
        <td>{$sum.cpAmount}</td>
        <td>{$sum.channelAmount}</td>
        <td>{$sum.profit}</td>
    </tr>
    {/foreach}
{else}
    <tr>
        <td colspan="20">无相关数据</td>
    </tr>
{/if}
</table> -->

<!-- 页脚 -->
<!-- <div id="pager"></div>
<script src="js/pager.js"></script> -->

<script>
$("#report").click(function() {
    var data = $("#start_date").val();
	if(data == ''){
        alert('请选择时间!');
        return false;
    }

	$("#operation").val("report");
	$('.searchbox').submit();
});
$("#select").click(function() {
    var data = $("#start_date").val();
	if(data == ''){
        alert('请选择时间!');
        return false;
    }

	$("#operation").val("");
	$('.searchbox').submit();
});


$('#qa').click(function() {
    return confirm('数据属性将修改，确定要执行？');
});
$('.list:odd').css({ 'backgroundColor': '#f5f5f5' });
function gotoNext(page,pagesize){
    $('#page').val(page);
    $('.searchbox').submit();
}
function gotoNext(page,pagesize){
        window.location.href = "/index.php?m=finance&a=profit&page=" + page+"&game={$game}&channel={$channel}&start_date={$start_date}&end_date={$end_date}&apkNum={$apkNum}&upperName={$upperName}&specialName={$specialName}&type={$type}&source={$source}&status={$status}";
    }
var pageStr = new Page('{$list_page}', '{$list_total}', 5, '{$list_length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
<script>
$(function() {
    $(".change").click(function() {
        var td = $(this);
        var txt = td.text();
        var id = td.attr("id");
        var final = document.getElementById("final_"+id);
        var sum_final = document.getElementById("sum_final");
        var sum_final_in = sum_final.innerText;
        var sum_act = document.getElementById("sum_act");
        var sum_act_in = sum_act.innerText;
        var input = $("<input type='text'value='" + txt + "'/>");
        td.html(input);
        input.click(function() { return false; });
        //获取焦点
        input.trigger("focus");
        input.blur(function() {
        var newtxt = $(this).val();
        if(isNaN(newtxt)){
            alert('请填写数字');
    　　　     return false; 
        }else if(newtxt == ''){
            newtxt = 0;
        }
        var final_in = final.innerText;
        //判断文本有没有修改
        if (newtxt != txt) {
            $.ajax({
                type: "POST",
                url: "index.php?m=finance&a=exPayChange",
                data:"id=" + id + "&actualPay=" + newtxt,
                success:function (result) {   
                    var str = JSON.parse(result);
                    if(str['status'] == "15"){
                        td.html(newtxt);
                        final.innerText = Number(final_in) + Number(txt) - Number(newtxt);
                        sum_final.innerText = Number(sum_final_in) + Number(txt) - Number(newtxt);
                        sum_ex.innerText = Number(sum_act_in) - Number(txt) + Number(newtxt);
                    }
                    else { 
                        alert('没有对应的数据');
                        td.html(txt);
                    }
                },
                error:function () {            
                    alert("系统出错了。。。");
                },
            });
        }else{
            td.html(newtxt);
        }
        });
    });
}); 
$(function() {
    $(".change2").click(function() {
        var td = $(this);
        var txt = td.text();
        var id = td.attr("id");
        var final = document.getElementById("final_"+id);
        var sum_final = document.getElementById("sum_final");
        var sum_final_in = sum_final.innerText;
        var sum_ad = document.getElementById("sum_ad");
        var sum_ad_in = sum_ad.innerText;
        var input = $("<input type='text'value='" + txt + "'/>");
        td.html(input);
        input.click(function() { return false; });
        //获取焦点
        input.trigger("focus");
        input.blur(function() {
        var newtxt = $(this).val();
        if(isNaN(newtxt)){
            alert('请填写数字');
    　　　     return false; 
        }else if(newtxt == ''){
            newtxt = 0;
        }
        var final_in = final.innerText;
        //判断文本有没有修改
        if (newtxt != txt) {
            $.ajax({
                type: "POST",
                url: "index.php?m=finance&a=exPayChange",
                data:"id=" + id + "&adPay=" + newtxt,
                success:function (result) {   
                    var str = JSON.parse(result);
                    if(str['status'] == "15"){
                        td.html(newtxt);
                        /*final.innerText = Number(final_in) + Number(txt) - Number(newtxt);
                        sum_final.innerText = Number(sum_final_in) + Number(txt) - Number(newtxt);
                        sum_ad.innerText = Number(sum_ad_in) - Number(txt) + Number(newtxt);*/
                    }
                    else { 
                        alert('没有对应的数据');
                        td.html(txt);
                    }
                },
                error:function () {            
                    alert("系统出错了。。。");
                },
            });
        }else{
            td.html(newtxt);
        }
        });
    });
}); 
</script>
{/block}