{extends file='layout/new.html'}
{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
var clicks=0;
 $(document).ready(function(){	
	 {if ($times !='')} $('#{$times}').attr("checked","true"){else}$('#times6').attr("checked","true"){/if};

	 {if ($date_format !='')}$('#{$date_format}').attr("checked","true"){else}$('#day').attr("checked","true"){/if};
	 {if ($selectchannel !='')}$('#{$selectchannel}').attr("checked","true"){/if};	 	
	// setorder();
	
  })
  
    function setorder(){
	  var order = $('#ordertype').val();	
	  if(order == "DESC"){	
		  alert("111");
		  $('#order_cont').attr("value",'time');
		  $('#ordertype').attr("value",'ASC');
		  $('#order').attr("value",'ASC');
	  }else{
		  alert("2222");
		  $('#order_cont').attr("value",'time');
		  $('#ordertype').attr("value",'DESC');
		  $('#order').attr("value",'DESC');
	  }
    
  }
 $(function(){
		$(".filter").click(function(){
			if($(".filter").text() == "條件篩選↑"){
				$(".filter").text("條件篩選↓");
			}else{
				$(".filter").text("條件篩選↑");
			}
			$(".searchbox").slideToggle("slow");
		})
	});
</script>	
            <div id="content">
            		<h3><span>{if $smarty.get.a && $adsdata}<a href="javascript:void(0)" id="exportA">導出</a>{/if} | <a class="filter">條件篩選↑</a></span>渠道转化率數據</h3>	  						
					  <form class="searchbox"  id="form1" action="index.php" method="get">
					        <input name="m" value="index"  type="hidden"/>
					        <input name="a" value="adsrecharge"  type="hidden"/>															
						<p><span>時間快速搜索：</span>
							<input type="radio"  name='times' id="time1" value="time1" onclick="quicksettime(0,'day')">&nbsp今天</input>&nbsp&nbsp&nbsp
							<input type="radio"  name='times' id="time2" value="time2" onclick="quicksettime(1,'day')">&nbsp昨日</input>&nbsp&nbsp&nbsp
							<input type="radio"  name='times' id="time3" value="time3" onclick="quicksettime(2,'day')">&nbsp前日</input>&nbsp&nbsp&nbsp
							<input type="radio"  name='times' id="time4" value="time4" onclick="quicksettime(0,'week')">&nbsp本周</input>&nbsp&nbsp&nbsp
							<input type="radio"  name='times' id="time5" value="time5" onclick="quicksettime(1,'week')">&nbsp上一周</input>&nbsp&nbsp&nbsp
							<input type="radio" name='times' id="time6" value="time6" onclick="quicksettime(0,'month')">&nbsp本月</input>
							<input name="start_date" id="start_date"    type="hidden"/>
							<input name="end_date" id="end_date"  type="hidden"/>
						</p>						
						<p><span>时间统计方式：</span>					
						   <input type="radio" name="date_format" id="day" value="day">&nbsp按天統計</input>&nbsp&nbsp&nbsp
						   <input type="radio" name="date_format" id="hour" value="hour">&nbsp按小時統計</input>						
						</p>						
						<p><span>渠道：</span>
						    <select name="alias" id="alias">
							   <option value="">请选择</option>
							        {foreach from=$aliasdata key=k item=alias}
							    <option value="{$k}" {if ($falias==$k)}selected="selected"{/if}>{$alias}</option>{$k}
							        {/foreach}
						      </select>  
						</p>   						
										
					    <p>
					       <input type="hidden" id = "order_cont" name="order_cont" value="time"/>
					       <input type="hidden" id = "order" name="order" value="DESC"/>
					    </p>
					   
					    <p class="inline">
                            &nbsp<button type="submit" class="su">立即提交</button>
                            <button type="reset" class="su">條件重置</button>
                        </p>
                        </form>			            
	                  <table border="0" cellpadding="0" cellspacing="0" class="list">
	                  	<thead>
		                     <tr>
			                     <th width="15%">渠道</th>
			                     <th width="15%">點擊次數</th>			
			                     <th width="10%">註冊人數</th>			
			                     <th width="10%">玩家數</th>			
			                     <th width="15%">充值人數</th>
			                     <th width="10%">充值總額</th>
			                     <th width="20%">統計時間</input></th>    
		                     </tr>
                     
	                   </thead>
	                   <tbody>
							{foreach $adsdata as $data}
						 <tr align="center">
							<td>{$data.channel}</td>
							<td>{$data.clicktimes}</td>			
							<td>{$data.registnums}</td>		
							<td>{$data.playnums}</td>			
							<td>{$data.chargenums}</td>
							<td>{$data.totalcharge}</td>
							<td>{$data.counttime}</td>				
						</tr>
							{foreachelse}
						<tr>
							<td colspan="8" align="center" style="border: none; font-size: 12px; padding-top: 8px; color: red">
								<label>沒有記錄</label>
							</td>
						</tr>
							{/foreach}
						</tbody>
    				</table>
			<div align="pager">{$pager}</div>				
{/block}
