{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script type="text/javascript">
$(function(){
	$(".filter").click(function(){
		if($(".filter").text() == "條件篩選[折疊]"){
			$(".filter").text("條件篩選[展開]");
		}else{
			$(".filter").text("條件篩選[折疊]");
		}
		$(".searchbox").slideToggle("slow");
	})
});
</script>
<script type="text/javascript">
$(document).ready(function(){
	$("#game").change(check_user);
	function check_user() {
		var game = $('#game').val();	
		
		$.ajax({
			type: "POST", 
			url: "?m=index&a=ajax", 
			data: "game="+game, 
			dataType: 'text',
			
			success: function(result){
				$("#server option[text!='0']").remove();
				$("#server").append(result);
				return false;	
			}
		}); 		
		 
	}
	
	$("#exportA").click(exportDate);
	function exportDate() {
		var start_date	= $('#start_date').val();	
		var end_date	= $('#end_date').val();		
		var type 		= $('#type').val();	
		var game 		= $('#game').val();		
		var server 		= $('#server').val();		
		var user 		= $('#user').val();
		var url			= "/index.php?m=index&a=payment&do=export&start_date="+start_date+"&end_date="+end_date+"&type="+type+"&game="+game+"&server="+server+"&user="+user+"&state="+$("#state").val();
		top.location=url;
		return false;		
	}		
});
</script>

<div class="content">
    	<h3><span>{if $smarty.get.a && $paymentdata}<a href="javascript:void(0)" id="exportA">導出</a>{/if} | <a class="filter">條件篩選[折疊]</a></span>會員支付數據</h3>
        
        <form class="searchbox"  id="form1" action="?m=index&a=payment" method="post">
            <p><span>轉點時間：</span><input type="text" name="start_date" id="start_date" class="date" value="{if $start_date neq 'NULL'}{$start_date}{/if}" onClick="var end_date=$dp.$('end_date');WdatePicker({literal}{onpicked:function(){end_date.focus();},minDate:'#F{($dp.$D(\'end_date\',{y:-1,d:0}))}',maxDate:'#F{$dp.$D(\'end_date\')}'}{/literal})"/> 至 <input type="text" name="end_date" id="end_date" class="date" value="{if $start_date neq 'NULL'}{$end_date}{/if}" onClick="WdatePicker({literal}{minDate:'#F{($dp.$D(\'start_date\',{d:0,H:0}))}',maxDate:'#F{($dp.$D(\'start_date\',{y:1,d:0}))}'}{/literal} )"/></p>
            <p><span>付費方式： </span><select name="type" id="type">
				<option value="0">请选择</option>
				<option value="Billing"	{if ($type=='Billing')}selected="selected"{/if}>Mycard-Billing</option>
				<option value="Ingame"	{if ($type=='Ingame')}selected="selected"{/if}>Mycard-Ingame</option>
				<option value="Point"	{if ($type=='Point')}selected="selected"{/if}>Mycard-會員點數</option>
				<option value="FBC"		{if ($type=='FBC')}selected="selected"{/if}>FBC</option>
            </select></p>
            <p><span>付款狀態： </span><select name="state" id="state">
				<option value="">请选择</option>
				<option value="1" {if $state eq 1}selected="selected"{/if}>已付款</option>
				<option value="0" {if $state === '0'}selected="selected"{/if}>未付款</option>
            </select></p>           
            <p><span>充值至：</span><select name="game" id="game">
				<option value="">请选择</option>
				<option value="1" {if ($game=='1')}selected="selected"{/if}>樂幣(平台充值)</option>
				{foreach $gamesName as $games}
				<option value="{$games.evalue}" {if ($game==$games.evalue)}selected="selected"{/if}>{$games.ename}</option>
				{/foreach}
            </select></p>
            <p><span>轉點伺服器：</span><select name="server" id="server">
				<option value="">请选择</option>
				{if $game > 1}
				{foreach $serversName as $servers}
				<option value="{$servers.evalue}" {if ($server==$servers.evalue)}selected="selected"{/if}>{$servers.ename}</option>
				{/foreach}
				{/if}
            </select></p>            
            <p><span>帳號 / 訂單號：</span><input name="user" id="user" type="text" value="{$user}" tabindex="2" class="text"/></p>
            <p class="inline">
                <button type="submit" class="su">立即提交</button>
                <button type="reset" class="su">條件重置</button>
            </p>
        </form>
        
		<p class="fast">
			快速查看：
			<a href="#" onclick="quicksettime(0, 'day')">今日</a>
			<a href="#" onclick="quicksettime(1, 'day')">昨日</a>
			<a href="#" onclick="quicksettime(2, 'day')">前日</a>
			<a href="#" onclick="quicksettime(0, 'week')">本周</a>
			<a href="#" onclick="quicksettime(0, 'month')">本月</a>
			<a href="#" onclick="quicksettime(1, 'month')">前一個月</a>
		</p>
</div>	
		
{include file="index/user_payment.html"}
<div class="pager">{$pager}</div>				
{/block}