{extends file='layout/new.html'}

{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<div class="content">
    	<h3><span><a href="?m=index&a=users" >返回會員數據列表</a></span>查看會員詳細數據</h3>
        <form class="searchbox">
        	<input type="hidden" name="mid" id="mid" value="{$user.mid}"/>     
            <p><span>用戶名：</span>{$user.userid}</p>
            <p><span>暱稱：</span>{$user.nickname}</p>
            <p><span>關聯賬號：</span>{$user.hash_username}</p> 
			{if $user.site eq 'autoregs'}
            <p><span>密文密码：</span><font color="#FF0000">{$user.pwd}</font></p> 
			{/if}
            <p><span>會員點數：</span>{$user.money}</p>
            <p><span>註冊IP：</span>{$user.joinip}</p>
            <p><span>登錄IP：</span>{if $user.loginip}{$user.loginip}{else}無信息{/if}</p>
            <p><span>註冊時間：</span>{$user.jointime|date_format:'%Y-%m-%d %H:%I:%S'}</p>
            <p><span>渠道：</span>
                {if $user.site eq ''}7725
                {else}{$user.site}
				{/if}
            </p>
             <p><span>是否綁定：</span>                      
             	{if $user.isbind eq '是'}是
                {else if $user.isbind eq '否'}否
                {else}未知
				{/if}
			</p>
            <p><span>性別：</span>
            	{if $user.sex eq '保密'}保密
            	{else if $user.sex eq '男'}男
				{else if $user.sex eq '女'}女
				{/if}
			</p>
            <p><span>生日：</span>{if $user.birthday neq '0000-00-00'}{$user.birthday}{else}未填{/if}</p>
            <p><span>用戶等級：</span>
            	{if $user.rank eq 0}限制会员
	            	{else if $user.rank eq 10}注册会员
					{else if $user.rank eq 100}普通會員
					{else if $user.rank eq 200}vip会员
				{/if}
			</p>
            <p><span>真實姓名：</span>{if $user.uname}{$user.trueName}{else}未填{/if}</p>
            <p><span>聯絡電話：</span>{if $user.mobile}{$user.mobile}{else}未填{/if}</p>
            <p><span>聯絡E-mail：</span>{if $user.email}{$user.email}{else}未填{/if}</p>
            <p><span>身份證字號：</span>{if $user.regIdCard}{$user.regIdCard}{else}未填{/if}</p>
            <p class="inline"><input type="button" class="su" value="修改資料" onclick="javascript:location.href='?m=index&a=editUser&userid={$user.userid}';" /></p>           
        </form>
</div>
{/block}