<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead>
		<tr>
			<th>訂單號</th>
			<th>帳號</th>
			<th>遊戲</th>
			<th>伺服器</th>
			<th>會員點數</th>
			<th>遊戲幣</th>
			<th>轉點時間</th>
		</tr>
	</thead>
	<tbody>
		{foreach $orderdata as $data}
		<tr align="center">
			<td>{$data.orderid}</td>
			<td><a href="?m=index&a=trans&user={$data.username}" >{$data.username}</a></td>	
			<td><a href="?m=index&a=trans&game={$data.game}" >{$data.gameName}</a></td>
			<td><a href="?m=index&a=trans&game={$data.game}&server={$data.server}" >{$data.serverName}</td>
			<td>{$data.points}</td>
			<td>{$data.gold}</td>
			<td>{$data.time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
		</tr>
		{foreachelse}
		<tr>
		<td colspan="8" align="center" style="border: none;font-size: 12px;padding-top:8px;color:red">										
	       <label>沒有記錄</label>				                 				
		</td>
		{/foreach}
	</tbody>
</table>