{extends file='layout/new.html'}

{block name=body}
<div style="text-align:center; padding-top:30px;"><h1>欢迎使用CRM管理系统</h1></div>
<!-- <div>
    <table align="center" border="0" style="width:400px;margin:0 auto">
    <tr>
        <td align="right"><h3>您的账号：</h3></td><td align="left"><font style="color:#000; font-weight:600;">{$uid}</font></td>
    </tr>
    <tr>
        <td align="right"><h3>本次登入IP：</h3></td><td align="left"><font style="color:#000; font-weight:600;">{$row['lastloginip']}</font></td>
    </tr>
    <tr>
        <td align="right"><h3>上次登入IP：</h3></td><td align="left"><font style="color:#000; font-weight:600;">{$row['prevloginip']}</font></td>
    </tr>
    <tr>
        <td align="right"><h3>上次登入时间：</h3></td><td align="left"><font style="color:#000; font-weight:600;">{$row['prevlogintime']}</font></td>
    </tr>
    </table>
</div> -->
{/block} 