{extends file='layout/new.html'}

{block name=body}

<div style="text-align:center; background:#2e5e79; padding-bottom:10px; padding-top:30px; padding-right: 300px; margin:-2% -2% 0 -2%;"><h1 style=" color:#fff;">欢迎来到中央数据后台</h1></div>
<div style="text-align:center; background:#2e5e79; margin:0 -2% -3% -2%;">
<table align="center" border="0" style="width:400px;margin:0 0 0 23%">
<tr>
    <td align="right"><h3 style="color:#fff; background:#2e5e79;">您的账号：</h3></td><td align="left"><font style="color:#fff; font-weight:600;">{$uid}</font></td>
</tr>
<tr>
	<td align="right"><h3 style="color:#fff; background:#2e5e79;">本次登入IP：</h3></td><td align="left"><font style="color:#fff; font-weight:600;">{$row['lastloginip']}</font></td>
</tr>
<tr>
    <td align="right"><h3 style="color:#fff; background:#2e5e79;">上次登入IP：</h3></td><td align="left"><font style="color:#fff; font-weight:600;">{$row['prevloginip']}</font></td>
</tr>
<tr>
    <td align="right"><h3 style="color:#fff; background:#2e5e79;">上次登入时间：</h3></td><td align="left"><font style="color:#fff; font-weight:600;">{$row['prevlogintime']}</font></td>
</tr>
</table>
</div>
<style type="text/css">
.footer { background:#2e5e79;}
.middles {  margin-left:480px;}
</style>
{/block} 