<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/chart.css" />
{include file="css.js.html"}
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/platform.js"></script>
</head>
<body>
{block name=aaaaa}{/block}
	<div id="container">
		{include file="over_header.html"}
        <div id="wrapper">
            <div id="content">
            	{if $smarty.get.q}
				<div id="box">
					<h3 id="adduser">搜索</h3>
					<form id="form" action="/users/" method="post">
					  <fieldset id="personal">
						<legend>请输入/ 选择搜索条件</legend>
						<label for="lastname">注册时间： </label> 
						<input name="start_date" id="start_date" type="text" class="Wdate"  onClick="WdatePicker()" />	
						<br />											
						<label for="firstname">至： </label>
						<input name="end_date" id="end_date" type="text" class="Wdate" onClick="WdatePicker()" />
						<br/>				
					  </fieldset>
					  <div align="center">
					  <input id="sub" type="button" value="提交" onclick="if(chkForm())doCharts('?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');"/>&nbsp;&nbsp;&nbsp; 
					  <input id="reset" type="button" name="line" value="重置" />
					  </div>
					</form>
				</div>	
				<div class="clear"></div>
					<a href='javascript:void(0);' onclick="searchTime(0,'?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');">今天</a>
					<a href='javascript:void(0);' onclick="searchTime(1,'?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');">昨天</a>
					<a href='javascript:void(0);' onclick="searchTime(2,'?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');">前天</a>
					<a href='javascript:void(0);' onclick="searchTime(7,'?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');">近7天</a>
					<a href='javascript:void(0);' onclick="searchTime(30,'?m=chart&a=platform&ajax=getPlatform&q={$smarty.get.q}');">近30天</a>
					<span id="linetip"></span>
				{/if}
				<div id="chartline">
					{if $smarty.get.q eq u}
					<div id="u_platform" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					{else if $smarty.get.q eq p}
					<div id="p_platform" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					{else}
					<div id="u_platform" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					<div id="p_platform" style="min-width: 400px; height: 400px; margin: 0 auto"></div>				
					{/if}					
				</div>					 
				<div class="clear"></div>			
            </div>
            {include file="column_left.html"}
      </div>
	  {include file="over_footer.html"}
</div>
</body>
</html>