<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{include file="css.js.html"}
<link rel="stylesheet" type="text/css" href="/css/kefu_skin.css" />
<script src="/js/pager.js"></script>
<script src="/js/pop.js"></script>
{block name=head}{/block}
</head>
<body>
<div id="container"> 
{include file="over_header.html"}
  <div id="wrapper">
    <div id="content">
        {block name=content}contents{/block}
      
    </div>
  </div>
 {include file="column_left.html"} 
 {include file="over_footer.html"}
  </div>

</body>
</html>
