{extends file='layout/new.html'}

{block name=body}
<script type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script src="/js/chart.js"></script>
<script type="text/javascript">
$(function(){
	$(".filter").click(function(){
		if($(".filter").text() == "条件筛选[折叠]"){
			$(".filter").text("条件筛选[展开]");
		}else{
			$(".filter").text("条件筛选[折叠]");
		}
		$(".searchbox").slideToggle("slow");
	})
});
</script>
<div class="content">
	<h3><span><a class="filter">条件筛选[折叠]</a></span>渠道ARPU</h3>
	<form id="form1" name="form1" method="post" action="?m=chart&a=channelArpu" class="searchbox" style="margin:0;">
                <p>
                        <span>来自游戏：</span>
                        <select name="game" id="game">
                            <option value="">请选择</option>
                            {foreach from=$games key=key1 item=item}
                            <option value="{$item.alias}" {if $game eq $item.alias}selected="selected"{/if}>{$item.name}</option>
                            {/foreach}
                        </select>
                    <span>渠道：</span>
                    <select name="channel" id="channel">
                        <option value="">请选择</option>
                    </select>
                </p>
                <p>
                <span>起始时间：</span>
                <input name="start_date" style="width: 82px;" id="start_date" type="text" class="wdate" value="{if $start_date neq 'NULL'}{$start_date}{/if}" onclick="var end_date=$dp.$('end_date');WdatePicker({literal}{onpicked:function(){end_date.focus();},minDate:'#F{($dp.$D(\'end_date\',{y:-1,d:0}))}',maxDate:'#F{$dp.$D(\'end_date\')}'}{/literal})" />
		至
		<input name="end_date" style="width: 82px;" id="end_date" type="text" class="wdate" value="{if $end_date neq 'NULL'}{$end_date}{/if}" onclick="WdatePicker({literal}{minDate:'#F{($dp.$D(\'start_date\',{d:0,H:0}))}',maxDate:'#F{($dp.$D(\'start_date\',{y:1,d:0}))}'}{/literal} )" />
		<input id="tj" type="button" value="查询" style=" margin-left: 54px;" class="search" onclick="chkForm3();"/>
		</p>
	</form>
	<p class="quick">
		快速查看：
		<a href="#" onclick="quicksettime(0, 'day')">今日</a>
		<a href="#" onclick="quicksettime(1, 'day')">昨日</a>
		<a href="#" onclick="quicksettime(2, 'day')">前日</a>
		<a href="#" onclick="quicksettime(0, 'week')">本周</a>
		<a href="#" onclick="quicksettime(0, 'month')">本月</a>
		<a href="#" onclick="quicksettime(1, 'month')">前一個月</a>
	</p>
</div>
<br/><br/>
<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead>
		<tr>
			<th>渠道名称</th>
			<th>充值总额</th>
			<th>充值次数</th>
			<th>充值人数</th>
			<th><span title="ARPU：Average Revenue Per User，即每用户平均收入">ARPU</span></th>
		</tr>
	</thead>
	<tbody>
		{section name=sn loop=$channelData}
		<tr>
			<td>{$channelData[sn].qd}</td>
			<td>{$channelData[sn].totalPrice}</td>
			<td>{$channelData[sn].times}</td>
			<td>{$channelData[sn].persons}</td>
			<td>{$channelData[sn].ARPU}</td>
		</tr>
		{/section}
		<tr>
			<td>渠道汇总</td>
			<td>{$total}</td>
			<td>{$times}</td>
			<td>{$person}</td>
			<td>{ROUND($total/$person,2)}</td>
		</tr>
	</tbody>
</table>
<script>
$(function() {
	get_servers();
	$("#game").change(function(){
		get_servers();
		return false;
	});

	function get_servers() {
		var game = $('#game').val();
		var thisc = "{$smarty.session.qchannel}";
		if(game == ''){
			$("#channel option[text!='0']").remove();
			$("#channel").append('<option value="0">请选择</option>').change();
			return false;
		}

		$.ajax({
			type: "POST",
			url: "/?m=sdkChannel&a=getGameChannels",
			data: "game="+game+"&thisc="+thisc,
			dataType: 'text',

			success: function(result){
				$("#channel option[text!='0']").remove();
				$("#channel").append(result);
			}
		});
		return false;
	}
});

</script>
{/block}
