<!DOCTYPE html>
<html>
	<head>
		<title>GASH訂單查詢</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/static/style.css" type="text/css" rel="stylesheet" />
		<script src="/js/jquery-1.7.2.min.js"></script>
        <script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
        <script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
	</head>
	<body>
		<table width="100%" class="list">
			<tr>
				<td width="40%"><strong>订单号：</strong></td><td>{$oid}</td>
			</tr>
			<tr>
				<td><strong>聯運商單號：</strong></td>
                <td>
                    {if $order.agent_oid}
                        {$order.agent_oid}
                    {else}
                        <input type='text' name='agent_oid' value="" />
                    {/if}
                </td>
            </tr>
			<tr>
				<td><strong>聯運商實收金額：</strong></td>
                <td>
                    {if $order.agent_pay_money != 0}
                        {$order.agent_pay_money}
                    {else}
                        <input type='text' name='agent_pay_money' value="" />
                    {/if}
                </td>
            </tr>
			<tr>
				<td><strong>貨幣單位：</strong></td>
                <td>
                    {if $order.agent_pay_currency}
                        {$order.agent_pay_currency}
                    {else}
                        <select name='agent_pay_currency'>
                        {foreach from=$currency_list item=currency}
                            <option value='{$currency}'>{$currency}</option>
                        {/foreach}
                        </select>
                    {/if}
                </td>
			</tr>
		</table>
        <button class="setsuccess" style="float: right; margin: 10px;">設置訂單為成功狀態</button>
		<script>
			$('.setsuccess').click(function() {
                var data = {
                    post: 1,
                    agent_oid: $('input[name="agent_oid"]').val(),
                    agent_pay_money: $('input[name="agent_pay_money"]').val(),
                    agent_pay_currency: $('select[name="agent_pay_currency"]').val()
                };
                if($('input[name="agent_oid"]').get(0) && !data.agent_oid) {
                    alert('請填寫聯運商單號');
                    return false;
                } else if($('input[name="agent_pay_money"]').get(0) && !$.isNumeric(data.agent_pay_money)) {
                    alert('聯運商實收金額只能为数字');
                    return false;
                }
				var set = confirm('將要更改訂單信息，並設置此訂單為成功狀態\n此操作不可逆！請确认');
				if(set) {
					$.post('/index.php?m=ac&a=changeAgentOrderInfo&oid={$oid}', data, function(data) {
						if(data.code == 1) {
							alert('設置成功！');
							//更新父頁面數據
							$('#sub', window.opener.document).click();
							window.close();
						} else {
							alert(data.msg || '設置失敗，請重試');
						}
					}, 'json');
				}
			});
		</script>
	</body>
</html>