<!DOCTYPE html>
<html>
	<head>
		<title>GASH訂單查詢</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/static/style.css" type="text/css" rel="stylesheet" />
		<script src="/js/jquery-1.7.2.min.js"></script>
        <script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
        <script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
	</head>
	<body>
		<table width="100%" class="list">
			<tr>
				<td width="40%"><strong>订单号：</strong></td><td>{$oid}</td>
			</tr>
			<tr>
				<td><strong>金額：</strong></td>
                <td>
                    {if $order.agent_pay_money != 0}
                        {$order.agent_pay_money}
                    {else}
                        <input type='text' name='money' value="" />
                    {/if}
                </td>
            </tr>
			<tr>
				<td><strong>貨幣單位：</strong></td>
                <td>
                    <select name='currency'>
                        <option value='TWD'>TWD</option>
                        <option value='MYR'>MYR</option>
                        <option value='HKD'>HKD</option>
                    </select>
                </td>
			</tr>
		</table>
        <button class="setsuccess" style="float: right; margin: 10px;">設置訂單為成功狀態</button>
		<script>
			$('.setsuccess').click(function() {
                var data = {
                    post: 1,
                    ordercode: '{$oid}',
                    money: $('input[name="money"]').val(),
                    currency: $('select[name="currency"]').val()
                };
                if($('input[name="money"]').get(0) && !$.isNumeric(data.money)) {
                    alert('金額只能为数字');
                    return false;
                }
				var set = confirm('將要更改訂單信息，並設置此訂單為成功狀態\n此操作不可逆！請确认');
				if(set) {
					$.post('/index.php?m=ac&a=changeOrderMoney&oid={$oid}', data, function(data) {
						if(data.code == 1) {
							alert('設置成功！');
							//更新父頁面數據
							$('#sub', window.opener.document).click();
							window.close();
						} else {
							alert(data.msg || '設置失敗，請重試');
						}
					}, 'json');
				}
			});
		</script>
	</body>
</html>