{extends file='layout/new.html'}
{block name=body}
<link rel="stylesheet" type="text/css" href="/js/icon.css">
    <div class="content">        
         <h3>持有樂幣玩家</h3>                          
         <p align="right" style='color:red; margin-right:30px; margin-top:10px;'>
			<a href="/index.php?m=ac&a=dailycoins">每日樂幣匯總</a>
		 </p>  
		 <div class="clear"></div>    
		 
	</div>	
	
	<table border="0" cellpadding="0" cellspacing="0" class="list" id="normal">
	<thead>
	    <th width="15%">Userid</th>
	    <th>渠道</th>
	    <th>昵稱</th>
	    <th>性別</th>
	    <th>樂幣</th>	  
	    <th>加入時間</th>  
	    <th>IP</th>   
	    <th>帳號綁定</th>  
	</thead>
	<tbody>
	{foreach $holder as $data}
	<tr align="center">
		<td width="20%">{$data.userid}</td>				
		<td width="8%">{$data.usite}</td>
		<td>{$data.uname}</td>	
		<td>{$data.usex}</td>	
		<td><font color="red">{$data.money}</font></td>		
		<td width="12%">{$data.joinin}</td>	
		<td width="12%">{$data.joinip}</td>
		<td width="12%">{$data.binding}</td>
	</tr>
	{foreachelse}
	<tr><td colspan="6" align="center" style="border: none; font-size: 12px; padding-top: 8px; color: red">没有数据</td></tr>
	{/foreach}
	</tbody>
	</table>
{/block}