{extends file='layout/new.html'}
{block name=title}儲值對賬-查找差異{/block}
{block name=head}
<style>
<!--
.difforder{
	clear: both;
}

.difforder ul li{
	float: left;
	width: 48%;
	margin: 0 2px;
}
-->
</style>
{/block}
{block name=body}
<div>
	<h3><span><a href="?m=ac&a=check{$smarty.get.type}">返回菜单列表</a></span>查找差異</h3>
	<table class="list">
		<thead>
			<tr>
				<th>類型</th>
				<th>項目</th>
				<th>具體</th>
				<th>對賬年月</th>
				<th>對賬文件</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{$header.typetitle}</td>
				<td>{$header.projecttitle}</td>
				<td>{$header.specifictitle}</td>
				<td>{$smarty.get.ordertime}</td>
				<td>{if $fileurl}<a href="{$fileurl}" target="_blank">對賬文件</a>{/if}</td>
			</tr>
		</tbody>
	</table>
	<form method="post" class="searchbox" action="{$smarty.server.REQUEST_URI}" enctype="multipart/form-data">
	<p><span>提交對賬文件:</span><input type="file"" name="orderfile[]"/><button type="submit" name="do" class="su"/>提交</button></p>
	</form>
</div>
{if $fileurl}
<div class="difforder">
	<ul>
		<li>
			<h3>平臺數據</h3>
			<table class="list">
				<thead>
					<tr>
						<th>訂單號</th>
						<th>儲值金額</th>
						<th>時間</th>
					</tr>
				</thead>
				{if $diff_source_list && count($diff_source_list)}
				<tbody>
				{foreach item=item key=key from=$diff_source_list}
					<tr>
						<td>{$item.oid}</td>
						<td>{$item.gold}</td>
						<td>{$item.time}</td>
					</tr>
				{/foreach}
				</tbody>
				{/if}
			</table>
		</li>
		<li>
			<h3>源文件數據</h3>
			<table class="list">
				<thead>
				<tr><th>訂單號</th><th>儲值金額</th><th>時間</th></tr>
				</thead>
				{if $diff_target_list && count($diff_target_list)}
				<tbody>
				{foreach item=item key=key from=$diff_target_list}
					<tr>
						<td>{$item.oid}</td>
						<td>{$item.gold}</td>
						<td>{$item.time}</td>
					</tr>
				{/foreach}
				</tbody>
				{/if}
			</table>
		</li>
	</ul>
</div>
{else}
<div style="color: red;clear:both;font-size: 14px;">注：請先提交訂單csv文件(csv文件中参数依次分別是訂單號、金額、儲值時間)。</div>
{/if}
{/block}