<!DOCTYPE html>
<html>
	<head>
		<title>GASH訂單查詢</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/static/style.css" type="text/css" rel="stylesheet" />
		<script src="/js/jquery-1.7.2.min.js"></script>
	</head>
	<body>
		<table width="100%" class="list">
			<tr>
				<td width="30%"><strong>商家編號：</strong></td><td>{$trans_data.COID}</td>
			</tr>
			<tr>
				<td width="30%"><strong>交易金額：</strong></td><td>{$trans_data.AMOUNT} {$trans_data.CUID}</td>
			</tr>
			<tr>
				<td><strong>用戶ID：</strong></td><td>{$trans_data.USER_ACCTID}</td>
			<tr>
				<td><strong>日期：</strong></td><td>{$trans_data.TXTIME}</td>
			</tr>
			<tr>
				<td><strong>交易狀態：</strong></td>
				<td>
					{if $trans_data.PAY_STATUS}
						成功
						{if !$order.state}
							&nbsp;&nbsp;<button class="setsuccess">設置本地訂單為成功</button>
						{/if}
					{else}
						失敗
					{/if}
				</td>
			</tr>
		</table>
		<script>
			$('.setsuccess').click(function() {
				var set = confirm('此操作不可逆！請確認');
				if(set) {
					$.get('/index.php?m=ac&a=setOrderInEffect&ordercode={$trans_data.COID}', function(data) {
						if(data.code == 1) {
							alert('設置成功！');
							//更新父頁面數據
							$('#sub', window.opener.document).click();
							window.close();
						} else {
							alert('設置失敗，請重試');
						}
					}, 'json');
				}
			});
		</script>
	</body>
</html>