{extends file='layout/new.html'}
{block name=body}
<script>
$(function(){	
	$("#order").val('');
	$(".su").click(function(){
		var order = $("#order").val();		
		var url = "/index.php?m=ac&a=oinfo&isajax=1&order=" + order;
		$.get(url, function(data){
			if(data.code == undefined){
				alert('请输入一个订单号');
				return false;
			}else if(data.code == 0){ 
                $('#userid').html('');
				$('#hash_username').html('');
                $('#oid').html('');
				$('#agent_oid').html('');
				$('#date').html('');
				$('#type').html('');
				$('#money').html('');
				$('#gold').html('');
				$('#game').html('');
				$('#server').html('');
                $('#role').html('');
				$('#roleid').html('');
				$('#channel').html('');
				
				alert(data.msg);
				return false;			
			}else if(data.code == 1){		
				$('#username').html(data.username);
				$('#hash_username').html(data.hash_username);
				$('#oid').html(data.oid);
				$('#agent_oid').html(data.agent_oid);
				$('#date').html(data.date);
				$('#type').html(data.type);
				$('#money').html(data.money);
				$('#gold').html(data.gold);
				$('#game').html(data.game);
				$('#server').html(data.server);
				$('#role').html(data.role);
				$('#roleid').html(data.roleid);
				$('#channel').html(data.channel);	
				var status = '';
				if(data.status == 1){
					status = '有效订单';	
				}else{
					status = '<font color=red>无效订单</font>';
				}
                if(data.type == '平台订单') {
                    status += '&nbsp;&nbsp;<a class="verify" href="/index.php?m=ac&a=getOrderFromGash&ordercode='
                        + data.oid + '&_rid=' + Math.random() + '" title="將訂單號提交至GASH伺服器進行查詢">校對信息</a>';
                    //订单
                    if(data.status == 0) {
                        status += '&nbsp;&nbsp;<a class="change" href="/index.php?m=ac&a=changeOrderMoney&ordercode='
                        + data.oid + '">更正订单信息</a> ';
                    }
                } else if(data.channel == 'google' && (!!parseInt(data.status) || !!parseInt(data.realmoney))) {
                    status += '&nbsp;&nbsp;<a class="changeAgent" href="/index.php?m=ac&a=changeAgentOrderInfo&oid='
                        + data.oid + '">更正订单信息</a> ';
                }
				$('#status')
				.html(status)
				//綁定校对订单信息的彈窗事件
				.find('a.verify').click(function() {
					window.open(this.href, 'newwindow','height=200, width=500, align=center, top=200, left=450');
					return false;
				});
				//绑定更正金额信息的弹窗事件
				$('#status').find('a.change').click(function() {
					window.open(this.href, 'newwindow','height=150, width=500, align=center, top=200, left=450');
					return false;
				});
                //绑定更正联运商订单信息事件
                $('#status').find('a.changeAgent').click(function() {
                    window.open(this.href, 'newwindow','height=200, width=500, align=center, top=200, left=450');
					return false;
                });
				return false;
			}
		});
	});	
});
</script>
<link rel="stylesheet" type="text/css" href="/js/easyui.css">
<link rel="stylesheet" type="text/css" href="/js/icon.css">
    <div class="content">        
         <h3>储值查询</h3>
		 <div class="clear"></div>    
		 <div>
			<form name="form1" id="searchform" action="" method="GET" class="searchbox" style="margin:0;">
				<input type="hidden" name="m" value="ac" />
				<input type="hidden" name="a" value="oinfo" />
				<p>
				<b style="margin:2px 10px;">订单号：</b>
				<input type="text" name="order" id="order" value="请输入一个订单号并点击查询" />
				&nbsp;&nbsp;<input id="sub" type="button" value="查詢" class="su" style="width:80px;height:30px;"/>				
				</p>
			</form>
			<div class="clear"></div>		 
		 </div>
	</div>	
	
	<table border="0" cellpadding="0" cellspacing="0" class="list">
	<tr>
	    <td width="15%"><strong>用户名：</strong></td>
	    <td width="35%"><span id="username"></span></td>
	    <td width="15%"><strong>HASH用户名：</strong></td>
	    <td width="35%"><span id="hash_username"></span></td>
	</tr>
    <tr>
        <td width="15%"><strong>平臺單號：</strong></td>
	    <td width="35%"><span id="oid"></span></td>
	    <td width="15%"><strong>聯運商單號：</strong></td>
	    <td width="35%"><span id="agent_oid"></span></td>
    </tr>
	<tr>
	    <td width="15%"><strong>日期：</strong></td>
	    <td width="35%"><span id="date"></span></td>
	    <td width="15%"><strong>类型：</strong></td>
	    <td width="35%"><span id="type"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>金额：</strong></td>
	    <td width="35%"><span id="money"></span></td>
	    <td width="15%"><strong>元宝(金子)：</strong></td>
	    <td width="35%"><span id="gold"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>游戏：</strong></td>
	    <td width="35%"><span id="game"></span></td>
	    <td width="15%"><strong>伺服器：</strong></td>
	    <td width="35%"><span id="server"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>角色：</strong></td>
	    <td width="35%"><span id="role"></span></td>
	    <td width="15%"><strong>角色ID：</strong></td>
	    <td width="35%"><span id="roleid"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>来源：</strong></td>
	    <td width="35%"><span id="channel"></span></td>
	    <td colspan="2"><span id="status"></span></td>
	</tr>
	</table>
	
{/block}