{extends file='layout/new.html'}
{block name=body}
<script>
$(function(){	
	$("#name").val('');
	$(".su").click(function(){
		var name = $("#name").val();		
		var url = "/index.php?m=ac&a=querypay&isajax=1&name=" + name;
		$.get(url, function(data){
			if(data.code == undefined){
				alert('请输入一个账号');
				return false;
			}else if(data.code == 0){ 
				$('#this_date').html('');
				$('#site').html('');
				$('#login_time').html('');
				$('#last_order_time').html('');
				$('#totalpay').html('');
				$('#money').html('');
				$('#surplus').html('');
				$('#hash_username').html('');
				$('#here').html('');			
				alert(data.msg);
				return false;			
			}else if(data.code == 1){		
				$('#this_date').html(data.join_time);
				$('#site').html(data.site);
				$('#login_time').html(data.login_time);
				$('#last_order_time').html(data.last_order_time);
				$('#totalpay').html(data.totalpay);
				$('#money').html(data.money);
				$('#surplus').html(data.surplus);
				$('#hash_username').html(data.hash_username);
				$('#here').html(data.msg);
				$('#error_ordor').html(data.error_str);
				return false;
			}
		});
	});	
    
    //绑定更正联运商订单信息事件
    $('body').on('click', 'a.changeAgent', function() {
        window.open(this.href, 'newwindow','height=200, width=500, align=center, top=200, left=450');
        return false;
    });
});
</script>
<link rel="stylesheet" type="text/css" href="/js/easyui.css">
<link rel="stylesheet" type="text/css" href="/js/icon.css">
    <div class="content">        
         <h3>储值查询</h3>
		 <div class="clear"></div>    
		 <div>
			<form name="form1" id="searchform" action="" method="GET" class="searchbox" style="margin:0;">
				<input type="hidden" name="m" value="ac" />
				<input type="hidden" name="a" value="querypay" />
				<p>
				<b style="margin:2px 10px;">账号：</b>
				<input type="text" name="name" id="name" value="请输入一个账号并点击查询" />
				&nbsp;&nbsp;<input id="sub" type="button" value="查詢" class="su" style="width:80px;height:30px;"/>				
				</p>
			</form>
			<div class="clear"></div>		 
		 </div>
	</div>	
	
	<table border="0" cellpadding="0" cellspacing="0" class="list">
	<tr>
	    <td width="15%"><strong>注册日期：</strong></td>
	    <td width="35%"><span id="this_date"></span></td>
	    <td width="15%"><strong>渠道来源：</strong></td>
	    <td width="35%"><span id="site"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>最后登入时间：</strong></td>
	    <td width="35%"><span id="login_time"></span></td>
	    <td width="15%"><strong>最后储值时间：</strong></td>
	    <td width="35%"><span id="last_order_time"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>累计储值次数：</strong></td>
	    <td width="35%"><span id="totalpay"></span></td>
	    <td width="15%"><strong>累计储值金额：</strong></td>
	    <td width="35%"><span id="money"></span></td>
	</tr>
	<tr>
	    <td width="15%"><strong>剩余飞币：</strong></td>
	    <td width="35%"><span id="surplus"></span></td>
	    <td width="15%"><strong>遊戲關聯賬號</strong></td>
	    <td width="35%"><span id="hash_username"></span></td>
	</tr>
	</table>
	
	<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead>
	    <th colspan="7">储值汇总<font color="green">（成功）</font></th>
	</thead>
	<tr>
	    <td width="10%">日期</td>
	    <td width="20%">订单号</td>
	    <td width="20%">联运商单号</td>
	    <!--<td width="15%">金流</td>-->
	    <td width="10%">储值类型</td>
	    <td width="25%">储值至</td>	  
	    <td width="10%">储值金额</td>  
	    <td width="10%">操作</td>
	</tr>
	<tbody id="here">
	</tbody>
	</table>	
	<div class="pager"></div>
	<table border="0" cellpadding="0" cellspacing="0" class="list">
	<thead>
	    <th colspan="7">储值汇总<font color="red">（失败）</font></th>
	</thead>
	<tr>
	    <td width="10%">日期</td>
	    <td width="20%">订单号</td>
	    <td width="20%">联运商单号</td>
	    <!--<td width="15%">金流</td>-->
	    <td width="10%">储值类型</td>
	    <td width="25%">储值至</td>	  
	    <td width="10%">储值金额</td>
	    <td width="10%">操作</td>
	</tr>
	<tbody id="error_ordor">
	</tbody>
	</table>	
{/block}