{extends file='layout/new.html'}
{block name=body}
<script>
$(function(){	
	$('#sub').click(function() {
        var $searchform = $('#searchform');
        var data = {
            game: $('[name="game"]', $searchform).val(),
            agent_oid: $('[name="agent_oid"]', $searchform).val()
        };
        if(data.agent_oid == '') {
            alert('请输入一个订单号并点击查询');
            return false;
        }
        $('.list').html('正在加載...');
        $.post($searchform.attr('action'), data, function(data) {
            var data_map = {
                'hash_username' : 'hash帳號',
                'userid' : '實際帳號',
                'bind_userid' : '綁定帳號',
                'agentOrder' : '聯運商商儲值單號',
                'oid' : '平臺單號',
                'agentMoney' : '聯運商領會金額',
                'amount' : '平臺金額',
                'currency' : '貨幣單位',
                'gold' : '元寶',
                'role' : '角色',
                'server' : '服務器',
                'sku' : '商品號',
                'time' : '日期',
                'description' : '描述'
            }
            var html = '';
            if(data && data.agentOrder) {
                for(var key in data_map) {
                    html += '<tr><th>' + data_map[key] + '</th><td>' + data[key] + '</td><tr>';
                }
            } else {
                alert('找不到訂單');
                html = '';
            }
            $('.list').html(html);
        }, 'json');
        return false;
    });
});
</script>
<link rel="stylesheet" type="text/css" href="/js/easyui.css">
<link rel="stylesheet" type="text/css" href="/js/icon.css">
    <div class="content">        
         <h3>google錯誤日誌查询</h3>
		 <div class="clear"></div>    
		 <div>
			<form name="form1" id="searchform" action="/index.php?m=ac&a=searchLog" method="post" class="searchbox" style="margin:0;">
				<p style="margin:2px 10px;"><span>请选择游戏：</span>
                    <select name="game" style="width: 100px;">
                        {foreach from=$game item=name}
                            <option value="{$name}" {if $name=="fengyuntx"}selected="selected"{/if}>{$name}</option>
                        {/foreach}
                    </select>
                    <span>谷歌单号：</span>
				<input type="text" name="agent_oid" id="order" placeholder="请输入一个订单号并点击查询" style="width: 250px;" />
				&nbsp;&nbsp;<input id="sub" type="button" value="查詢" class="su" style="width:80px;height:30px;"/>				
				</p>
			</form>
			<div class="clear"></div>		 
		 </div>
	</div>	
	
	<table border="0" cellpadding="0" cellspacing="0" class="list">
	</table>
	
{/block}