{extends file='layout/new.html'}
{block name=body}
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<script>
$(function(){
	//重置表单
	$("#start_date").val('');
	$("#end_date").val('');
	$("#game").val('');
	$("#channel").val('');
	
	$(".su").click(function(){
		var start_date = $("#start_date").val();
		var end_date = $("#end_date").val();
		var game = $("#game").val();
		var channel = $("#channel").val();
		if(game == undefined){
			game = '';
		}
		if(channel == undefined){
			channel = '';
		}
		
		var second_url = '';		
		if(game != ''){
			second_url = '&by=game';
		}else if(channel != ''){
			second_url = '&by=channel';
		}
		
		var url = "/index.php?m=ac&a=sumpay&isajax=1" + second_url + "&start_date=" + start_date + "&end_date=" + end_date + "&game=" + game + "&channel=" + channel;
		
		
		$.get(url, function(data){
			if(data.code == undefined){
				alert('请选择时间或游戏');
				return false;
			}else if(data.code == 0){ 
				alert(data.msg);
				return false;			
			}else if(data.code == 1){
				$('#normal').hide();
				$('#ajaxs').show();				
				$('#here').html(data.msg);
				return false;
			}
		});
	});	
});
</script>
<link rel="stylesheet" type="text/css" href="/js/easyui.css">
<link rel="stylesheet" type="text/css" href="/js/icon.css">
    <div class="content">        
         <h3>储值汇总</h3>                          
         <p align="right" style='color:red; margin-right:30px; margin-top:10px;'>
		 	<!--{if $smarty.get.by == 'game'}按游戏{/if}&nbsp;&nbsp;-->
			{if 'by'|array_key_exists:$smarty.get && ($smarty.get.by eq 'game' || $smarty.get.by eq '')}按游戏{else}<a href="/index.php?m=ac&a=sumpay&by=game">按游戏</a>{/if}
			{if 'by'|array_key_exists:$smarty.get && $smarty.get.by eq 'channel'}按渠道{else}<a href="/index.php?m=ac&a=sumpay&by=channel">按渠道</a>{/if}
			{if 'by'|array_key_exists:$smarty.get && $smarty.get.by eq 'pay'}按金流{else}<a href="/index.php?m=ac&a=sumpay&by=pay">按金流</a>{/if}
		</p>  
		 <div class="clear"></div>    
		 <div>
			<form name="form1" id="searchform" action="" method="GET" class="searchbox" style="margin:0;">
				<input type="hidden" name="m" value="ac" />
				<input type="hidden" name="a" value="sumpay" />
				<p>
				<b style="margin:2px 10px;">时间：</b>
				<input type="text" name="start_date" id="start_date" class="date" value="" onClick="WdatePicker()"/>
				<b style="margin:2px 10px;">至：</b>				
				<input type="text" name="end_date" id="end_date" class="date" value="" onClick="WdatePicker()"/>
				{if 'by'|array_key_exists:$smarty.get && ($smarty.get.by eq 'game' || $smarty.get.by eq '')}
				<b style="margin:2px 10px;">游戏：</b>
				<select name="game" id="game">
					<option value="">请选择</option>
					<option value="1" {if ($game=='1')}selected="selected"{/if}>飞币(平台储值)</option>
					{foreach $gamesName as $games}
					<option value="{$games.alias}">{$games.ename}</option>
					{/foreach}
				</select>
				{else if 'by'|array_key_exists:$smarty.get && $smarty.get.by eq 'pay'}
				<b style="margin:2px 10px;">金流：</b>
				<select name="pay" id="pay">
					<option value="0">请选择</option>
					<option value="1">Mycard</option>
				</select>				
				{else}
				<b style="margin:2px 10px;">渠道：</b>		
				<select name="channel" id="channel">
					<option value="">请选择</option>
					{foreach from=$channel key=k item=alias}
					<option value="{$alias}">{$alias}</option>
					{/foreach}
				</select>					
				{/if}
				&nbsp;&nbsp;<input id="sub" type="button" value="查詢" class="su" style="width:80px;height:30px;"/>				
				</p>
			</form>
			<div class="clear"></div>		 
		 </div>
	</div>	
	
	<table border="0" cellpadding="0" cellspacing="0" class="list" id="normal">
	<thead>
	    <th width="15%">日期</th>
	    <th>充值人数</th>
	    <th>充值次数</th>
	    <th>充值总额</th>
	    <th>单均价</th>	  
	    <th>arpu</th>  
	</thead>
	<tbody>
	{foreach $daily as $data}
	<tr align="center">
		<td width="16%">{$data.date}</td>				
		<td width="16%">{$data.passengers}</td>
		<td width="16%">{$data.times}</td>	
		<td width="16%">{$data.money}</td>	
		<td width="16%">{$data.avg}</td>		
		<td width="20%">{$data.arpu}</td>
	</tr>
	{foreachelse}
	<tr><td colspan="6" align="center" style="border: none; font-size: 12px; padding-top: 8px; color: red">没有数据</td></tr>
	{/foreach}
	</tbody>
	</table>
	
	<table border="0" cellpadding="0" cellspacing="0" class="list" id="ajaxs" style="display:none;">
	<thead>
	    <th width="15%">日期</th>
	    <th>充值人数</th>
	    <th>充值次数</th>
	    <th>充值总额</th>
	    <th>单均价</th>	  
	    <th>arpu</th>  
	</thead>
	<tbody id="here">
	</tbody>
	</table>
	
	<table border="0" cellpadding="0" cellspacing="0" class="list" id="normal">
	<thead>
	    <th colspan="6">汇总</th>
	</thead>
	<tbody>
	{foreach $month as $data}
	<tr align="center">
		<td width="16%">{$data.date}（月结）</td>				
		<td width="16%">{$data.passengers}</td>
		<td width="16%">{$data.times}</td>	
		<td width="16%">{$data.money}</td>	
		<td width="16%">{$data.avg}</td>		
		<td width="20%">{$data.arpu}</td>
	</tr>
	{foreachelse}
	<tr><td colspan="6" align="center" style="border: none; font-size: 12px; padding-top: 8px; color: red">没有数据</td></tr>
	{/foreach}
	{foreach $year as $data}
	<tr align="center">
		<td width="16%">{$data.date}（年结）</td>				
		<td width="16%">{$data.passengers}</td>
		<td width="16%">{$data.times}</td>	
		<td width="16%">{$data.money}</td>	
		<td width="16%">{$data.avg}</td>		
		<td width="20%">{$data.arpu}</td>
	</tr>
	{/foreach}	
	</tbody>
	</table>	
	<div class="pager">{$pager}</div>
{/block}