@charset "utf-8";
body{font-family:"黑體";color:#444;padding:0;margin:0;font-size:12px;background-color:#fff;}
img {border:0;}
ul, p{padding:0;margin:0;}
ul li{ list-style:none;}
a {color: #444444;cursor: pointer;display: inline;text-decoration: none;white-space: nowrap;}
button {cursor: pointer;}
input, label, button {vertical-align: middle;}
/* 公用CSS:end */
.top {
    background: url("../images/top.jpg") repeat-x scroll center top transparent;
    height: 30px;
    overflow: hidden;
    width: 100%;
}
.logo {
    height: 86px;
    width: 100%;
}
.topcontent {
    height: auto;
    margin: 0 auto;
    width: 960px;
}
.topleft {
    float: left;
}
.topleft li {
    float: left;
    margin: 6px 0 0;
    width: 101px;
}
.topleft li img 
{
    float: left;
    margin:1px 3px 0 0 ;
}
.topleft li a {
    float: left;
    margin:0 10px 0 0;
	line-height:19px;
	-moz-line-height:18px;
}
.topright {
    float: right;
}
.logout {
    float: left;
    margin: 8px 15px 0 0;
}
.logout a {
    margin: 0 5px;
}
.logou
{
	width:78px;
	height:auto;
	padding:0 0 0 20px;
	margin:15px 0 0 87px;
	background:url(../images/icon_24.jpg) no-repeat left center;
}

.logina1
{
	display:inline-block;
	width:37px;
	height:25px;
	padding:0 0 0 30px;
	line-height:28px;
	background:url(../images/button34.jpg) no-repeat;
}
.logina2
{
	display:inline-block;
	width:37px;
	height:25px;
	padding:0 0 0 30px;
	line-height:28px;
	background:url(../images/button35.jpg) no-repeat;
}
.logina3
{
	display:inline-block;
	width:37px;
	height:25px;
	padding:0 0 0 30px;
	line-height:28px;
	background:url(../images/button36.jpg) no-repeat;
}
.logina {
    margin: 10px 0 0 10px;
}
.login {
    border: 1px solid #BCBCBC;
    height: 211px;
    margin: 8px 0 0;
    overflow: hidden;
    padding: 1px 0 0 1px;
    width: 248px;
}

.login a {
    margin: 0 1px 0 0;
}
a {
    color: #444444;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    white-space: nowrap;
}

.logintitle {
    background: url("../images/loginbg1.jpg") repeat-x scroll 0 0 transparent;
    color: #FEFEFE;
    font-family: "黑体";
    font-size: 20px;
    font-weight: bold;
    height: 32px;
    padding: 5px 0 0;
    text-align: center;
    width: 247px;
}

.logindetail {
    border-bottom: 1px dashed #2C6397;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 0 0 10px;
    width: 230px;
}

.logindetailleft {
    float: left;
    margin: 0 0 0 15px;
    width: 68px;
}

.logindetailright {
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 0 15px;
    width: 132px;
}

.logintitle1 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.title9 {
    color: #FF6400;
    font-size: 16px;
    font-weight: bold;
}

.nav {
    background: url("../images/nav.jpg") repeat-x scroll center top transparent;
    height: 35px;
    overflow: hidden;
    width: 100%;
}
.navl {
    height: 35px;
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
.navlist {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 765px;
}
.navlist li {
    background: url("../images/space.jpg") no-repeat scroll right center transparent;
    float: left;
    text-align: center;
    width: 95px;
}
.navlist li a {
    color: #EAFFD3;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    width: 92px;
}
#nav1 {
    background: url("../images/nav_hover.jpg") no-repeat scroll left bottom transparent;
    color: #3F7A00;
}
.join {
    color: #EAFFD3;
    float: left;
    line-height: 35px;
}
.join span {
    color: #FDFF44;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

.container {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
.leftsidebar {
    float: left;
    height: auto;
    width: 250px;
}
.rightsidebar {
    float: right;
    height: auto;
    width: 702px;
}

.login a
{
	margin:0 1px 0 0;
}
.login form
{
	clear:both;
}
.loginleft
{
	float:left;
	width:160px;
	margin:8px 0 0 8px;
	+margin:8px 0 0 4px;
}
.loginleft input
{
	width:156px;
	height:25px;
	border:1px solid #8e8e8e;
	margin:0 0 8px 0;
	padding:0 0 0 3px;
	line-height:25px;
}
.loginright
{
	float:left;
} 
.loginbutton
{
	width:65px;
	height:51px;
	border:none;
	margin:12px 0 0 8px;
	background:url(../images/button5.jpg) no-repeat;
}
.loginkeep
{
	clear:both;
	width:235px;
	height:auto;
	padding:0 0 5px 0;
	margin:0 auto;
	border-bottom:1px dashed #2c6397;
}
.loginkeep input
{
	width:10px;
	height:10px;
}
.loginkeep a
{
	margin:0 0 0 11px;
	color:#2883d7;
}
.loginother
{
	clear:both;
	float:left;
	width:185px;
	height:auto;
	margin:5px auto;
	text-align:center;
}
.loginlist li
{
	float:left;
	margin:10px 0 0 10px;
}
.loginother {
    clear: both;
    float: left;
    height: auto;
    margin: 5px auto;
    text-align: center;
    width: 185px;
}
.newmore {
    float: left;
    margin: 2px 0 0;
}
.loginlist { clear:both}
.loginlist li {
    float: left;
    margin: 10px 0 0 10px;
}
.shareleft {
    border: 1px solid #D3E6FA;
    height: auto;
    margin: 8px 0 0;
    overflow: hidden;
    padding: 0 0 10px;
    width: 250px;
}
.column li {
    margin: 10px 0 0 11px;
    width: 226px;
}
#column1 {
    border: 1px solid #FF6100;
    color: #FFFFFF;
    height: 36px;
    width: 226px;
}
.column li a {
    border: 1px solid #C2DCF7;
    color: #5084B4;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 226px;
}
#column1 div {
    background: none repeat scroll 0 0 #FF6100;
    height: 34px;
    margin: 1px;
    width: 224px;
}
.column li a div {
    background: none repeat scroll 0 0 #DAECFD;
    height: 34px;
    margin: 1px;
    width: 224px;
}
.sharetitle {
    background: url("../images/titlebg.jpg") repeat-x scroll center top transparent;
    height: 28px;
    margin: 1px;
    width: 248px;
}
.title {
    color: #2E3133;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 0 8px;
}
.sharecontent {
    border-top: 1px solid #D3E6FA;
    height: auto;
    width: 250px;
}
.dynamic p {
    display: inline-block;
}
.dynamic li {
    border-bottom: 1px solid #CFF0F8;
    height: auto;
    margin: 9px 0 0 5px;
    overflow: hidden;
    padding: 0 0 10px;
    width: 240px;
}
.dynamic li a {
    color: #616060;
}
.dynamic li a:hover {
    color: #1A87EC;
}
.dname {
    color: #FF6100;
    float: left;
    font-weight: bold;
    margin: 0 0 0 10px;
    overflow: hidden;
    width: 70px;
}
.darea {
    float: left;
    overflow: hidden;
    width: 122px;
}
p {
    margin-bottom: 0;
    margin-top: 0;
}
.service {
    clear: both;
    height: 23px;
    margin: 5px 0 0 6px;
}
.contactname {
    float: left;
    line-height: 25px;
    margin: 0 0 0 15px;
    width: 65px;
}
.contacticon {
    color: #FF7F00;
    float: left;
    line-height: 25px;
}
.footer {
    background: url("../images/footer.jpg") repeat-x scroll center top transparent;
    height: 85px;
    line-height: 25px;
    margin: 10px 0 0;
    padding: 10px 0 0;
    width: 100%;
}
.copyright {
    background: url("../images/copyright.jpg") no-repeat scroll right center transparent;
    clear: both;
    height: 43px;
    line-height: 35px;
    margin: 20px auto;
    text-align: center;
    width: 960px;
}
.navlist li a:hover {
    background: url("../images/nav_hover.jpg") no-repeat scroll left bottom transparent;
    color: #3F7A00;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    opacity: 1;
}
.rightsidebar
{
	float:right;
	width:702px;
	height:auto;
}
.fastservice li {
    float: left;
    margin: 10px 0 0 13px;
    width: 105px;
}
.fastservice li a {
    background: url("../images/fast1.jpg") no-repeat scroll 0 0 transparent;
    color: #5084B4;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 105px;
}
.fastservice li a:hover {
    background: url("../images/fast2.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 105px;
}
.fastservice .lastcard a {
    background: url("../images/fast3.jpg") no-repeat scroll 0 0 transparent;
    color: #5084B4;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 223px;
}
.fastservice .lastcard a:hover {
    background: url("../images/fast4.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 223px;
}
.wheel 
{
	clear:both;
	width:702px;
	height:auto;
	margin:8px 0 0 0;
}
.flip
{
	clear:both;
	width:650px;
	height:22px;
	margin:16px auto 11px;
	background:#f8f8f8;
	text-align:center;
}
.flip a
{
	margin:0 10px 0 0;
	line-height:20px;
}
.flip a:hover
{
	margin:0 10px 0 0;
	line-height:20px;
	color:#ff6400;
}
.title1 {
    color: #5084B4;
    font-size: 12px;
    font-weight: bold;
}

.slidebox-01{width:700px;height:213px;overflow:hidden;position:relative;}
.slidepic-01{position:absolute;width:9999em;}/* 必要元素 */
.slidepic-01 li{height:213px;overflow:hidden;float:left;}
.slidebtn-01{position:absolute;bottom:10px;right:10px;float:right;}
.slidebtn-01 li{background:#a6a6a6;border:1px solid #000;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#fff;}
.slidebtn-01 li.current{background:#ff6600;border:1px solid #000;height:24px;line-height:24px;width:24px;margin:0 2px;color:#fff;font-weight:800;}

/* 旧版CSS：end */

.location{ clear:both; margin:8px auto 0; color:#145e9d; width:670px; }
.location span{color:#444}
.location a{ color:#145e9d} 
.location a:hover{ text-decoration:underline} 
.area{ clear:both; margin:8px auto 0; width:678px;}
.area .record{width:670px; min-height:471px; +min-height:520px; border:1px solid #cfdae0; padding:1px 0; overflow:hidden}
.area .record .inquiry{ clear:both; margin:15px auto; width:620px;}
.area .record .inquiry p{ float:left; line-height:25px; font-size:14px; font-weight:bold; color:#555d63}
.area .record .inquiry p input{ margin:0 10px 0 0; border:1px solid #aeb0af; height:22px; line-height:23px}
.area .record .inquiry p button{ float:left;width:87px; height:22px; background:url(letter.jpg) no-repeat; color:#FFF; text-align:center; line-height:25px; border:none; margin:2px 0 0 0}
.area .record .ti{ font-size:14px; font-weight:bold; height:24px; background:#dfeaf4; padding:8px 0 0 13px;}
.area .record .recordtab{ width:627px; margin:10px auto; font-size:12px}
.area .record .recordtab thead td{ border-bottom:1px solid #cdcdcd; font-weight:bold; height:31px;}
.area .record .recordtab td{ text-align:center;height:31px;}
.area .record .recordtab td a{ text-decoration:underline}
.letter{ width:87px; height:22px; background:url(letter.jpg) no-repeat; color:#FFF; text-align:center; line-height:23px;margin:20px auto 0; border:none}
.area .record .recordcontent{width:627px; margin:10px auto; font-size:14px; border-collapse:collapse; font-size:14px; line-height:30px;}
.area .record .recordcontent td{border:1px solid #cdcdcd;}
.area .record .recordcontent td .number{ font-weight:bold;color:#555d63; padding:0 0 0 8px;}
.area .record .recordcontent td .digital{ color:#000;}
.area .record .recordcontent td .name{ font-weight:bold; color:#0033cc;}
.area .record .recordcontent td .titlebg{ background:#dfe9f4; margin:1px;font-weight:bold;color:#555d63;}
.area .record .recordcontent td p{  padding:0 0 0 10px;}
.area .record .recordcontent td .professional{ float:left; width:75px; height:auto;text-align:center; margin:20px 0 0 20px}
.area .record .recordcontent td .answer{ float:left; width:482px; height:auto; overflow:hidden; background:url(answerbg.jpg) repeat-y;margin:20px 0 0 20px}
.area .record .recordcontent td .answertop{ width:482px; height:11px; overflow:hidden; background:url(answertop.jpg) no-repeat;}
.area .record .recordcontent td .answerbottom{ width:482px; height:11px; overflow:hidden; background:url(answerbottom.jpg) no-repeat;}
.area .record .return{width:87px; margin:0 auto;}
.area .record .account{ width:620px; height:auto; margin:20px auto; line-height:30px; overflow:hidden}
.area .record .account .member{ float:left;width:200px; text-align:right; line-height:25px;}
.area .record .account .member span{ color:#F00; margin:0 5px 0 0;}
.area .record .account .memberc{ float:left; width:213px;}
.area .record .account .memberc input{ width:198px; height:19px; line-height:19px;}
.area .record .account .what{ float:left; width:187px; line-height:25px;}
.area .record .account .what a{ color:#F00; text-decoration:underline}
.area .record .type{ clear:both;font-size:14px; font-weight:bold; height:24px; background:#dfeaf4; padding:8px 0 0 13px; margin:1px 0 0 0;}
.area .record .line{border-top:1px solid #cfdae0; clear:both}
.area .record .account .memberc select{ float:left ;width:204px; height:21px; line-height:19px; margin:0 8px 0 0}
.area .record .account .what select{ float:left ;width:204px; height:21px; line-height:19px; }
.area .record .account .explain{ float:left; width:400px;line-height:25px; color:#F00}
.area .record .account .upload{ clear:both; height:31px; text-align:center; }
.area .record .account .upload input{ border:1px solid #cfdae0;  }
.area .record .account .note{ color:#F00; width:415px; margin:0 0 0 150px; line-height:20px;}
.sent{ float:left; width:78px; height:22px; background:url(sent.jpg) no-repeat;color:#FFF; text-align:center; line-height:23px;margin:0 10px 50px 250px; border:none}
.refill{ float:left; width:78px; height:22px; background:url(refill.jpg) no-repeat;color:#333; text-align:center; line-height:23px; border:none}
