{extends file='layout/new.html'}
{block name=body}

<!--START 列表頁-->
<script language="javascript" type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/js/DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/js/linkage.js"></script>
<script src="js/fckeditor/fckeditor.js"></script>
{if $operation == 'index'}
	<h3>
		<span><a href="/index.php?m=sdkBenefits&a=userList&operation=add">手动发放</a></span>
		用户返利
	</h3>
	<form class="searchbox" action="/index.php?m=sdkBenefits&a=userList" method="post">
		{if  $gid eq 2 || $gid eq 11 || $gid eq 13 || $gid eq 14 || $gid eq 15 || $gid eq 17}
        <input type="hidden" id="gameStr" value="{$gameStr}" />
        <input type="hidden" id="gid" value="{$gid}" />
    	{/if}
	<p>
		<span>年度：</span>
		<select name="year" id="year" style="width: 98px;">
			<option value="2021" {if $year eq 2021}selected="selected"{/if}>2021</option>
		</select>
	</p>
    <p>
        <span>游戏：</span>
		<select name="upperName" id="upperName" style="width: 98px;">
			<option value="">请选择</option>
			{foreach from=$UpperList item=name key=key1}
				<option value="{$name.upperName}" {if $upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
			{/foreach}
		</select>
		<select name="specialName" id="specialName" style="width: 98px;">
			<option value="">请选择</option>
			{foreach from=$specialList item=name key=key1}
				<option value="{$name.specialName}" {if $specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
			{/foreach}
		</select>
		<select name="game" id="game" style="width: 98px;">
			<option value="0">请选择</option>
			{foreach from=$game item=data}
			<option value="{$data.alias}" {if $data.alias === $gameAlias}selected="selected"{/if}>{$data.name}</option>
			{/foreach}
		</select>
		
		<span>时间范围：</span>
		<input type="text" name="start_date" id="start_date" class="date" value="{$start_date}" onclick="var end_date=$dp.$('end_date');WdatePicker({ onpicked:function(){ end_date.focus();},minDate:'#F{ ($dp.$D(\'end_date\',{ y:-1,d:0}))}',maxDate:'#F{ $dp.$D(\'end_date\')}'})"> 至 <input type="text" name="end_date" id="end_date" class="date" value="{$end_date}" onclick="WdatePicker({ minDate:'#F{ ($dp.$D(\'start_date\',{ d:0,H:0}))}',maxDate:'#F{ ($dp.$D(\'start_date\',{ y:1,d:0}))}'} )">

		<span>帐号：</span>
        <input type="text" placeholder="请输入帐号" name="userName" value="{$userName}"/>

		<span>状态：</span>
		<select name="status" id="status" style="width: 195px;">
			<option value="1" {if $status eq 1}selected="selected"{/if}>已发送</option>
			<option value="2" {if $status eq 2}selected="selected"{/if}>发送失败</option>
			<!--<option value="0" {if $status eq 0}selected="selected"{/if}>未发送</option>-->
		</select>
    </p>
    <p>
		<span>角色id：</span>
        <input type="text" placeholder="请输入角色id" name="roleId" value="{$roleId}"/>		

		<span style="width: 198px;">区服id：</span>
        <input type="text" placeholder="请输入区服id" name="serverId" value="{$serverId}" style="width: 190px;"/>		

		<span>状态类型</span>
		<select  name="type" id="type" style="width: 195px;">
			<option value="0">请选择</option>
			<option value="1" {if $type eq 1}selected="selected"{/if}>系统发放</option>
			<option value="2" {if $type eq 2}selected="selected"{/if}>手动发放</option>
		</select>
    </p>
    <p><button type="submit" class="su"  style="margin-top: 0px;">查询</button></p>
	</form>
	<table class="list">
		<tr style="background-color:#CCCCCC;">
			<th>项目</th>
			<th>游戏</th>
			<th>标题/说明</th>
			<th>累充</th>
			<th>用户账号</th>
			<th>角色名</th>
			<th>角色id</th>
			<th>区服id</th>
			<th>返利类型</th>
			<th>发放数量/id</th>
			<th>发放类型</th>
			<th>请求时间</th>
			<th>操作</th>
		</tr>
		{foreach from=$list item=game}
		<tr>
			<td style="text-align: center;">{$game.upperName}</td>
			<td style="text-align: center;">{$game.name}</td>
			<td style="text-align: center;">{$game.title}</td>
			<td style="text-align: center;">{$game.recharge}</td>
			<td style="text-align: center;">{$game.userName}</td>
			<td style="text-align: center;">{$game.roleName}</td>
			<td style="text-align: center;">{$game.roleId}</td>
			<td style="text-align: center;">{$game.serverId}</td>
			<td style="text-align: center;">{if $game.prop eq 1}游戏币{elseif $game.prop eq 2}道具id{/if}</td>
			<td style="text-align: center;">{$game.grantData}</td>
			<td style="text-align: center;">{if $game.grantType eq 1}系统发放{elseif $game.grantType eq 2}手动发放{/if}</td>
			<td style="text-align: center;">{if $game.time}{$game.time|date_format:"%y-%m-%d %H:%M"}{/if}</td>
			<td style="text-align: center;"></td>
		</tr>
		{/foreach}
	</table>
	<div id="pager"></div>

<script src="js/pager.js"></script>
<script>

$('.delete_confirm').click(function() {
	return confirm('數據不可恢復，你確定要刪除嗎？');
});

function gotoNext(page,pagesize){
	window.location.href = "/index.php?m=sdkBenefits&a=userList&page=" + page+ "&year={$year}&upperName={$upperName}&specialName={$specialName}&game={$gameAlias}&start_date={$start_date}&userName={$userName}&roleId={$roleId}&serverId={$serverId}&type={$type}";
}
var pageStr = new Page('{$page}', '{$total}', 5, '{$length}', 'gotoNext').GetText();
document.getElementById('pager').innerHTML = pageStr;
</script>
{elseif $operation == 'add'}
	<h3>
		<span><a href="/index.php?m=sdkArchives&a=userList">返回列表</a></span>新增返利
	</h3>
	<form action="/index.php?m=sdkBenefits&a=userList&operation=manual" method="post" class="searchbox" enctype="multipart/form-data">
		<p>
			<span>上级游戏名：</span>
			<select name="upperName" id="upperName">
                <option value="">请选择</option>
                {foreach from=$UpperList item=name key=key1}
                    <option value="{$name.upperName}" {if $channel.upperName eq $name.upperName}selected="selected"{/if}>{$name.upperName}</option>
                {/foreach}
            </select>
        </p>
        <p>
			<span>专服游戏名：</span>
            <select name="specialName" id="specialName">
                <option value="">请选择</option>
                {foreach from=$specialList item=name key=key1}
                    <option value="{$name.specialName}" {if $channel.specialName eq $name.specialName}selected="selected"{/if}>{$name.specialName}</option>
                {/foreach}
            </select>
        </p>
        <p>
			<span>游戏：</span>
            <select name="game" id="game">
                <option value="0">请选择</option>
				{foreach from=$game item=data}
				<option value="{$data.alias}" {if $data.alias === $channel.gameAlias}selected="selected"{/if}>{$data.name}</option>
				{/foreach}
			</select>
		</p>
		<p>
			<span>项目接口：</span>
            <select name="api">
            	<option value="">请选择</option>
				<option value="benefits0001">坦克返利(T-坦克)</option>
                <option value="benefits0002">T-T5项目硬核返利</option>
                <option value="benefits0003">T-T5项目BT返利</option>
                <option value="benefits0004">T-坦克2项目返利</option>
			</select>
		</p>
		<p>
			<span>帐号：</span>
        	<input type="text" placeholder="请输入帐号" name="userName" value=""/> 
		</p>
		<p>
			<span>角色id：</span>
        	<input type="text" placeholder="请输入角色id" name="roleId" value=""/>		
		</p>
		<p>
			<span>角色名：</span>
        	<input type="text" placeholder="请输入角色名" name="roleName" value=""/>		
		</p>
		<p>
			<span>区服id：</span>
        	<input type="text" placeholder="请输入区服id" name="serverId" value=""/>		
		</p>
		<p>
			<span>返利类型：</span>
            <select name="prop">
                <option value="1">游戏币</option>
                <option value="2">道具</option>
			</select>		
		</p>
		<p>
			<span>返利：</span>
        	<input type="text" placeholder="请输入返利的道具id或游戏币" name="grantData" value=""/>	
		</p>

		<p class="line">
			<button type="submit" name="do" class="su">立即提交</button>
			<button type="reset" class="re">條件重置</button>
		</p>
	</form>
{/if}
{/block}