.login_top_bg {
	background-image: url(../images/../images/login-top-bg.gif);
	background-repeat: repeat-x;
}
body {
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	font-size:12px;
}

.login-buttom-bg {
	background-image: url(../images/login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(../images/Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	background-image: url(../images/login_bg.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background-image: url(../images/login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: �̶�;
	line-height: 38px;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	background-image: url(../images/top-right.gif);
	background-repeat: repeat-x;
}
.txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(../images/content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: �̶�;
}

.left_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.titlebt {
	width:150px;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}

.left_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
}
.left_txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
}
.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.line_table1 {
	border: 1px solid #CCCCCC;
	font-weight:inherit;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(../images/right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../images/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../images/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
/*  ���� */
#popbg
{
	background-color:#666;
	position:absolute;
	z-index:99;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	opacity:0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}
.popclose
{
	float:right;
	display:block;
	width:32px; 
	height:15px; 
	cursor:pointer;
	font-size:0;
	line-height:0;
	overflow:hidden;
	margin:0 8px 0 0;
	background:url(../images/X.gif) no-repeat;
}
.pop
{
	position:absolute;
	width:253px; 
	height:150px; 
	left:50%;
	z-index:100;
	background:#FFFFFF;
	text-align:center;
	
	
}
.popcontent
{
	
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#ff6400;
	padding-left:15px;
	padding-top:15px;
}
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table{
   border-collapse:collapse;
}
.littleleft{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
	height:29px;
	}
.littleleft li{
	display:inline;
	list-style:none;
	float:left;
}
.littleleft .littleright{
	background:url(../images/top_bt.jpg) no-repeat;
	width:85px;
	line-height:35px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
.littleleft .littleright1{
	background:url(../images/content-bg.gif) repeat-x;
	width:920px;
	line-height:30px;
	text-align:center
}
.rcontent{
	margin-top:-10px;
	clear:left;
	background:url(../images/mail_leftbg.gif) repeat-y 0px 10px;
	height:auto;
	padding-left:10px;
}
.content {
	padding-top:10px;
	padding-bottom:40px;
}

.search {
	display:block;
	float:left;
	padding-bottom:10px;
	width:745px;
	padding-bottom:10px;
	background:none;
}
#infobox{
	width:735px;}

.search1 {
	border:1px solid #ECE9D3;
	width:95%;
	display:block;
	margin:0 auto;
	padding-bottom:10px;
        float:left
}

.bar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
	border: 1px solid #CCCCCC;
	background:url(../images/news-title-bg.gif) repeat-x;
	padding-left:5px;
}
.bar1 {
	background:#F6F6F2;
	padding:6px 5px 6px 5px;
}
.searchin {
	padding:0px 5px 0px 5px;

	margin:0 auto;
}
.intext {
	width:80px;
}
#pager{
	text-align:center;
	margin-top:5px;
	
	
}
#pager span a{margin:5px}