/* 
    Document   : messages
    Created on : 2012/7/27, 下午 12:44:50
    Author     : Pigo
    Description:
        訊息處理用的 css

        <div class="errorMessages">
            <p> ..... </p>
        </div>
        <div class="successMessages">
            <p> ..... </p>
        </div>
*/

.errorMessages {
    font-size: 12px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    background-color: #e0f0f0;
}

.errorMessages p {
    color: red;
    background-color: white;
}
.errorMessages h3 {
    color: black;
    font-size: 16px;
}

